[2016-03-24 10:24] ivajloip opened #1 "FCntUp updated incorrectly"
According to [this][1] specification (and I believe it is the latest), when you receive an uplink message, you update your FCntUp to match the FCnt, if its value seems correct. The server might have missed some messages, but if they are *unconfirmed*, that could be OK (if they are not too many).

In the code [here][2], the counter FCntUp is directly incremented. Due to this, at a later time the fo

[2016-03-24 10:34] brocaar commented on #1
Good catch :+1: It should have been the frame counter of the packet + 1 (which is at an early stage already validated and expanded to the full 32 bit counter). I will look into it later today or tomorrow.

[2016-03-24 16:55] #1 closed

[2016-03-30 20:24] ivajloip opened #4 "Question: Implementation of mac commands"
Hi Orne,

Yesterday I started looking into the MAC commands and here is how I imagine them to work (let me know if that seems OK to you).

* `LinkCheckReq`/`LinkCheckAns` is somewhat clear (I think that we take `lsnr` or 0 if `lsnr` is negative and the number of times the packet was received and construct the answer).
* The other MAC commands should be sent by the users (in my opinion through the

[2016-03-31 19:04] brocaar commented on #4
Hi Ivaylo,

Thanks for looking into the MAC commands already! I have to dig a little bit deeper into the MAC commands before I can give a full answer, but as far as I think, there are three types: 1) initiated by the node, 2) initiated by the network server (e.g. frequency related MAC commands, could be based on settings?), 3) initiated by the user (give me the battery power, through the api).

I

[2016-04-02 08:35] brocaar opened #5 "MQTT connection issues"
After running loraserver for a long time (I'm using the latest https://github.com/eclipse/paho.mqtt.golang version: 4ab3e86, but the problem is not exclusive to this version), it runs into mqtt connection issues. Most of the time, it is able to recover by (automatically) reconnecting and re-subscribing, but sometimes it looses the connection with the mqtt server (Mosquitto 1.4.3 in my case) and st

[2016-04-04 15:42] brocaar commented on #5
This issue is hopefully fixed in the updated mqtt package.

[2016-04-13 11:58] ivajloip commented on #4
Hi Orne,

My implementation is almost ready and it seems to be working for most of the cases that I have tested it (automatically and with my end-device). I have noticed though that there is some strange error when I was trying to send a couple of mac commands, when the *bridge* told me that it can not marshal an mac command that I did not sent. When I dug a little bit, I found that it calls `txPa

[2016-04-13 18:25] brocaar commented on #4
Thanks for your feedback, I think I know what is going wrong! I haven't started yet on the MAC commands yet. I'm currently doing some refactoring work on all three of the projects:

* lorawan: getting rid of the ``uplink`` argument and implementing a ``band`` sub-package containing band specific configurations
* loraserver: re-organizing the source so that vendoring becomes easier (no need to vend

[2016-04-13 19:57] ivajloip commented on #4
[Here](https://github.com/Acklio/loraserver/tree/mac-commands) is my implementation of the mac commands. It still needs some work, but it works fine at least for some of the cases (new channel, duty cycle, dev status have been tested with an end-device). I think that I am not going to change much my implementation , so you can review it. I only want to add the possibility to send mac commands over

[2016-04-14 06:50] ivajloip commented on #4
[Here](https://github.com/Acklio/loraserver/tree/mac-commands) is my implementation of the mac commands. It still needs some work, but it works fine at least for some of the cases (new channel, duty cycle, dev status have been tested with an end-device). I think that I am not going to change much my implementation , so you can review it. I only want to add the possibility to send mac commands over

[2016-04-16 14:33] brocaar commented on #4
I've had a quick look at the diff: https://github.com/brocaar/loraserver/compare/master...Acklio:mac-commands?expand=1

First of all, thanks for your efforts!

However, the diff is huge. This makes it really hard to give good feedback and to shape it into a mergable state as it covers a lot of parts of the architecture. As well I'm a bit surprised by the amount of work that you already did. I woul

[2016-04-16 17:46] ivajloip commented on #4
Actually when I started implementing this, it didn't seem as that much work, but after some time I realized this is not going to be the case. Anyway, it was to some extend interesting to write a little bit more Go code, as I am not very experienced with this language so for sure it was useful for me even only in this regard.

For the architecture, I tried to be inspired by the existing code + my s

[2016-04-18 14:58] ivajloip commented on #4
I rebased the mac-commands branch on the current master (it seems to me that you have finished with the moving/restructuring). It is still a huge diff, so if you need more explanations, please don't hesitate to let me know :)

[2016-04-18 16:58] brocaar commented on #5
There are still connection problems in the paho package, but both the latest ``lora-semtech-bridge`` and ``loraserver`` are  able to recover from connection issues. I'll close this issue for now and will keep an eye on the paho mqtt client updates.

[2016-04-18 16:58] #5 closed

[2016-04-22 10:12] brocaar opened #9 "Please help testing US 902-928 ISM band"
I'm looking for people who are up for testing the US 902-928 build of LoRa Server. All the work has been done, except that I'm unable to verify if it is really working 😉  (I don't have hardware to test with for this band).

Band specific configuration can be found in: https://github.com/brocaar/lorawan/tree/master/band

Same installation instructies apply (https://github.com/brocaar/loraserver/wik

[2016-04-22 11:56] brocaar commented on #4
Thanks! I won't merge as-is, since I still have to think what the right flow is for each MAC command and I would like to break the implementation of MAC commands into pieces. However, I'll take it as an example and make modifications where needed. This weekend I'll attend IoT Olympics and will try to get some feedback from other people on this.

[2016-04-23 14:35] brocaar opened #10 "Please help testing AU 915-928 band"
Same as #9 except that this issue is for the AU 915-928 ism band 😄

Pre-compiled binaries for testing can be found here:
https://www.dropbox.com/sh/ywg5v3469zct7i9/AABrkYi87ov-vIp1UC1e4CBWa?dl=0

Alternatively, you can build them from the ``au_915_928`` branch with the following commands:
[code]

[2016-04-24 14:49] chunyeow opened #11 "Could not decode RxPacket: invalid characters"
loraserver_1    | time="2016-04-24T14:47:08Z" level=error msg="gateway/mqttpubsub: could not decode RXPacket: invalid character 'ÿ' after top-level value" data_base64="Mv+HAwEBCFJYUGFja2V0Af+IAAECAQZSWEluZm8B/4oAAQpQSFlQYXlsb2FkAf+OAAAA/7H/iQMBAQZSWEluZm8B/4oAAQ0BA01BQwH/hAABBFRpbWUB/4YAAQlUaW1lc3RhbXABBgABCUZyZXF1ZW5jeQEIAAEHQ2hhbm5lbAEGAAEHUkZDaGFpbgEGAAEJQ1JDU3RhdHVzAQQAAQpNb2R1bGF0aW9uAQwAAQhD

[2016-04-24 14:54] ivajloip commented on #11
I think I saw such error when I forgot to update `lora-semtech-bridge` (while updating the `loraserver`). Are you running both latest `loraserver` and `lora-semtech-bridge` or what is your setup?

[2016-04-24 15:23] chunyeow commented on #11
I am using the docker-compose to run the latest loraserver. I saw the following:

semtechbridge:
  image: brocaar/lora-semtech-bridge
  links:
    - mosquitto
  environment:
    - MQTT_SERVER=tcp://mosquitto:1883
  ports:
    - "1700:1700/udp"

Is that going to use the latest image or any problem could be?

[2016-04-24 18:22] ivajloip commented on #11
I did not find *lora-semtech-bridge* in hub.docker.com, so could you give me the output of `docker images`? It seem to me that you might be using an old version of the docker image (maybe a new one is not available online). To build it you can obtain the code and run

    docker rm loraserver_semtechbridge_1
    docker build -t "brocaar/lora-semtech-bridge:latest" <folder where you have put the se

[2016-04-25 16:05] chunyeow commented on #11
I remove the docker images dated back 8 weeks ago and rebuild the latest lora-semtech-bridge and it works.

Thanks for your help.

[2016-04-25 16:05] #11 closed

[2016-04-25 20:35] gzwsc2007 commented on #9
Hi Orne,

I am Anson from Carnegie Mellon University, and I am working on a LoRaWAN-related research project. I am happy to test out the US915 band for you. Will let you know in a few days. BTW great work on the server! We have been looking for open-source LoRaWAN server for a long time!

Thanks,
Anson

[2016-04-26 03:36] Mehradzie commented on #10
Under test.

[2016-04-26 07:41] Mehradzie commented on #10
Hi Orne,

I have done some testing with a Multitech Conduit and mDot end-nodes in Australian frequencies. I can't confirm the join process as our end-node might have some bugs in it which prevents the join process to be completed, however, if the credentials manually fed to the end-node, the RX and TX transmit is fully working (obviously after the changes I have submitted to Lorawan about the RX t

[2016-04-26 07:47] Mehradzie commented on #9
I don't think US people would be able to receive packets in this stage. However, since Aussie frequencies overlap the US ones, I have put a US firmware on our gateway and end-nodes and tested the US frequencies with the changes that I did on lorawan and the test went alright.

So probably will wait to hear from our US contributes to see if it works for them :D

[2016-04-26 10:16] brocaar commented on #9
Will re-compile binaries with the changes from @Mehradzie tonight. As @Mehradzie mentioned, the current binaries are broken.

[2016-04-26 18:17] brocaar commented on #9
@gzwsc2007 I've updated the binaries with @Mehradzie his fix (I forgot to multiply all durations by ``time.Second`` so all durations were in nanoseconds instead of seconds). I'm looking forward to your feedback!

https://www.dropbox.com/sh/troh10y9sap2h7b/AADZmtUHgGKse58XIpLwcSqpa?dl=0

[2016-04-26 18:27] brocaar commented on #10
Nice! Did you see any errors in the LoRa Server logs when trying an OTAA attempt? I had some difficulties with a iM880A-L node where it turned out some fields needed to be set LSBF, and some as MSBF (https://github.com/brocaar/loraserver/wiki/Activating-nodes#im880a-l--im880b-l).

Anyway, great to hear that the RX and TX is working after ABP!

[2016-04-26 22:37] gzwsc2007 opened #13 "[GOLANG] Importing local packages but with the "github.com/brocaar/" prefix?"
I am new to Go, so please pardon me if this question is stupid.

When I pull down the `loraserver` repo, and do `make`, I get errors like
`internal/loraserver/interfaces.go:4:2: cannot find package "github.com/brocaar/loraserver/models" in any of: ........`

`internal/loraserver/loraserver.go:12:2: cannot find package "github.com/brocaar/loraserver/models" in any of:.........`

If I change all the

[2016-04-26 23:55] gzwsc2007 commented on #9
@brocaar I fixed a minor typo about DR0 of the US band, and have created a pull request under `lorawan`. With that fix, OTAA and confirmed data up/down link seems to be working.

I am using the stock (and dumb) Semtech packet forwarder, and the client node is a STM32 nucleo board + SX1276 shield, running the Semtech mbed demo app. (https://developer.mbed.org/teams/Semtech/code/LoRaWAN-demo-76/)

[2016-04-27 00:10] gzwsc2007 opened #14 "Managing the downlink RX windows"
Currently, the server sends scheduled downlink to both the RX1 and RX2 windows. However, it seems the correct way to do this is to only send on **one** particular RX window. The decision of which window to use is made by the server (if the end node does not get anything during RX1, it will wake up and listen again at RX2. However, if it gets a response at RX1, it would not wake up at RX2, so there

[2016-04-27 06:37] brocaar commented on #13
This is because when you would do a ``go get github.com/brocaar/loraserver/...``, Go would place all the source-code under ``$GOPATH/src/github.com/brocaar/loraserver/...``. In Go it is common to use the full repo url as import path. In case of LoRa Server, all requirements are vendored, if that would not be the case a simple ``go get ./...`` would fetch all requirements for you 😄

When you move y

[2016-04-27 06:51] Mehradzie commented on #14
Well, about the first part of your comment I should say, you got it right until the part that, gateway has no way of knowing if the end-node received the data on Window 1) and the Ack could be received about the data sent on Window 1 way way after. like minutes away.

The last paragraph sounds really interesting to me. Have you looked at the Semtech Packet forwarder to aquire these info? I use a M

[2016-04-27 07:16] brocaar commented on #14
Regarding your first point, you're right! I overlooked this and somewhere in the process made the assumption that the two receive windows were for redundancy. Thanks for pointing this out! For reference, these snippets from the specs are mentioning this:

3.3.5 Network sending a message to an end-device
If the network intends to transmit a downlink to an end-device, it will always initiate the
tra

[2016-04-27 07:21] brocaar commented on #9
Cheers for testing and fixing the typo! I've merged your ``lorawan`` pull-request.

[2016-04-27 07:21] #9 closed

[2016-04-27 07:23] #13 closed

[2016-04-27 07:58] ivajloip commented on #14
I agree that implementing this on Semtech Bridge will not be easy. Some antennas might be connected through very latent networks. Sometimes it will be impossible to know this in advance (maybe right now the antenna is connected through the slow backup connection), but miscalculating the latency might lead to packet loss. I would expect the packet forwarder to have a queue of a reasonable size. Aft

[2016-04-27 08:34] brocaar commented on #14
First point has been fixed in 2604fc64f3e8d6a3a4836d66c320e623133445b1.

[2016-04-27 09:47] brocaar commented on #14
@gzwsc2007 just heard (on TTN Slack) that the queuing will be handled better in the next version of ``packet_forwarder`` 😄

![image](https://cloud.githubusercontent.com/assets/165497/14848381/a88b60c8-0c6d-11e6-8de8-cbdc1ad9eb6f.png)

[2016-04-27 18:52] gzwsc2007 commented on #14
@brocaar Thanks for the update! Regarding the `packet_forwarder` log, the messages only meant that the packets have been shoved into the SX1301, not that they were actually sent out. In the case of the example, the first packet is likely to have been lost.

@Mehradzie As far as I know, at this stage custom gateway binaries are preferred to the semtech `packet_forwarder`. For example, Loriot.io pro

[2016-04-27 18:55] gzwsc2007 commented on #13
Thank you very much for answering my question! :D

[2016-04-27 19:02] brocaar commented on #14
@gzwsc2007 yes, I do realise that now. A nice project would be to build a packet forwarder which directly forwards over MQTT, so that the LoRa Semtech Bridge isn't needed anymore 😉

Side-note: I just tagged ``0.6.0``: http://loraserver.readthedocs.org/en/latest/changelog/#060. Thanks for your feedback!

[2016-04-28 00:47] Mehradzie commented on #14
emmm... can't believe how much stuff came our of this simple conversation. good thinking @gzwsc2007. i am glad we had this chat.
@brocaar, I am very-very new to Go and years worth of developing on C# left me with lots of old habits (which die hard as we know :D still put semicolons on every line; however, I am happy to kick-start a new packet-forwarder project with the MQTT and encryption etc, etc

[2016-04-28 02:50] gzwsc2007 commented on #14
@Mehradzie I am still quite skeptical about how well Semtech can improve their existing `packet_forwarder`, so I would say it is worthwhile to develop a new one. However, my concern is that will this overlap with what TTN is doing? If I remember correctly TTN also plans to develop custom gateway software such that part of the processing can be offloaded to the gateway. (And of course, this allows

[2016-04-28 05:40] nestorayuso commented on #14
Hi, to know the new packet_forwarder, see commits in the developer branch: https://github.com/Lora-net/packet_forwarder/commit/0a4413a6e79bb6ea29036882ec4a151ef0e0bdca
Yes, they implemented a queue for inmediate downlink and/or timed downlink.

About Lora-Semtech-Bridge, it is intended to run into the gateway or in a server? My bet is for the gateway, to translete locally between UDP and MQTTT, en

[2016-04-28 07:03] ivajloip commented on #14
Hi,
My bet is that lora-semtech-bridge should run on the server as it seems intended to be able to serve multiple gateways.
As for the encryption, here are some problems I see. It does not seem right to me that anybody could tell the gateway to send a packet, that's for sure. On the data up side things are also not great, Trying to impersonate a gateway could lead to some form of DoS attack. Those

[2016-04-29 06:59] brocaar commented on #14
@nestorayuso it shouldn't matter how you run it, you can:

* run one Semtech Bridge and connect multiple gateways to it
* run multiple Semtech Bridge instances and connect multiple gateways to each instance (e.g. through a loadbalancer. Make sure that the straffic of the same gateway will be forwarded to the same Semtech Bridge instance each time)
* run the Semtech Bridge on the gateway itself

Se

[2016-05-08 11:34] #10 closed

[2016-05-08 11:35] brocaar commented on #14
Given that the next ``packet_forwarder`` will solve the queueing problem, I'm closing this issue.

[2016-05-09 15:40] ivajloip opened #15 "Make FRMPayload decryption optional"
According to the spec (section 4.3.3.2), it should be possible to perform encryption on upper layers. In this case the network server should not try to decrypt the information.

I am working on this right now. Currently I do not intend to support encryption preference for every possible port number as it seems required by the spec. For each device it will be possible to have the server either decr

[2016-05-09 18:32] brocaar commented on #15
The section below has been dropped in the 1.0.1 version of the LoRaWAN specs:

encryption/decryption may be done above the LoRaWAN layer for specific FPorts except 0...

[2016-05-11 05:10] Mehradzie commented on #14
Hi Orne,

I have moved to the latest release and I can see that **Window 2** is fully removed now :( which was commented out in the couple of previous releases and I was manually enabling it back before making the project.

I honestly think there is a misunderstanding here. If you've based your decision on the following two sections this might be just simply misreading the standard. (Although out

[2016-05-11 13:01] Daniel-dk opened #18 "ERR unknown command 'PEXPIRE'"
HI, I'm getting an Error from what seems to be my gateway rx packet
output from loraserver.
`INFO[0025] gateway/mqttpubsub: rx packet received`
`ERRO[0025] processing rx packet error: add rx packet to collect set error: ERR unknown command 'PEXPIRE'  data_base64=...`

the endnode also fails to join the network and reports a Join error

do we need to register the gateway with loraserver ?
Gateway i

[2016-05-11 14:18] brocaar commented on #18
It is a Redis error (http://redis.io/commands/pexpire). My guess is that you're running a Redis version < 2.6.0 as ``PEXPIRE`` is available since Redis 2.6.0. I'll update the docs with the minimum Redis version that must be used.

Please let me know if this fixes your issue.

[2016-05-11 15:00] Daniel-dk commented on #18
installing redis-2.8.19 worked.
Thank you :)

[2016-05-11 15:00] #18 closed

[2016-05-11 17:09] brocaar commented on #14
I still think that only one receive window must be used. Some of the ism bands have duty-cycle constraints. Through the ``CFlist`` (join-accept) it is possible to provision the node with different channels on different sub-bands. This has not been implemented yet, but in this case I think it is up to the network-server to find out which receive window can be used for transmission. E.g. based on du

[2016-05-11 18:01] nestorayuso commented on #14
Yes,  it is up to the network-server to use RX1 or RX2 per node, per group, per client or per application (but the network-server can't use use both RX1 and RX2 for a single node for the same uplink).

But why there are two receive windows? to adapt better to use case, circumstances, duty-cycle limitations or regulations.

Generally it is better to use RX1, it is more spectrum and energy efficient

[2016-05-12 00:36] Mehradzie opened #19 "Forming the correct "rxpk" and "txpk", Lora-Semtech-Bridge or LoraServer and the "rfch" to go for"
At the moment When LoraServer forms a packet and sends it over MQTT, we see something like the message below before it hits the Lora-Semtech-Bridge.

`{"txInfo":{"mac":"008000000000aaaa","immediately":false,"timestamp":1886440700,"frequency":925700000,"power":20,"dataRate":{"modulation":"LORA","spreadFactor":10,"bandwidth":500},"codeRate":"4/5"},"phyPayload":"FFoo="}`

Late on the bridge receives

[2016-05-12 00:46] Mehradzie commented on #14
Totally agreed, but I am thinking rather than removing the *Window 2* code completely, could we implement a compile time parameter or something to choose between the two? :innocent:

I honestly didn't mind having it there commented out so I could go enable it when I want to try the Window 2 functionality on the newly designed end-node. :smile:

[2016-05-12 00:51] Mehradzie commented on #10
Just coming back with some update.

I have tested the OTAA with our latest firmware on the end-nodes and I can say now that **it fully working**

I have test the OTA join on window 1 and 2 with both JOIN_ACCEPT_DELAYs and it was successful and robust.
This bring the Australian branch functionality to the fully working and tested state :100:

[2016-05-12 05:43] nestorayuso commented on #19
I think rfch parameter is to distinguish between several RX paths (aka physical antennas) rather than SX1257 chips. Imaging a high performance gateway with three sectorial antennas and three SX1301 chips. rfch indicates which sector received from.

typical gateway implementations use two SX1257 chips and both share the same antenna, both are RX capable but only one is TX capable. In this case I th

[2016-05-12 06:42] brocaar commented on #19
I did some testing with this, if I remember correctly I was unable to send using ``rfch=1``. Will do some more testing tonight.

[2016-05-12 06:44] brocaar commented on #14
It was removed since the code was outdated after the ``lorawan/band`` cleanup, not because I'm not planning to support receive window 2 in the future 😄

[2016-05-12 15:37] brocaar commented on #19
Just did some testing again. The join-request was received on ``rfch: 1``. The join-accept was sent with the same ``rfch: 1`` to the gateway. This resulted in the following error (``packet_forwarder``):

[code]

Snippet from my radio config:

[code]

[2016-05-13 02:22] Mehradzie commented on #19
To be honest I just recently got to know that **radio** tag has those extra keys from an IM880 datasheet (which I don't own). Mine is very simple

[code]
Have you tried setting **tx_enable** to true? (I mean for testing purposes)

@nestorayuso

By "TX Capable" you mean the actual physical capability? If so, I wasn't aware of SX1257 have two edition. And if software enables (capable) what stops us

[2016-05-13 05:36] nestorayuso commented on #19
there is only one implementation of sx1257. with capable or not capable I mean enabled in the json file and physically routed tx pins in a pcb to a balun, PA, antenna.

my knowledge is based on guesswork too and maybe i am wrong on rfch or other assumptions

[2016-05-13 05:39] Mehradzie commented on #19
Let guess our way to the success :smile:
The downside of any new tech. No doc and lots of potential.

So you reckon what would the problems if we enable both radios to TX as well.

Thanks for the reply

[2016-05-13 05:45] nestorayuso commented on #19
As your gateway's pcb does not route physically TX pins to a balun... If you enable it in json, the TX range will be zero or few centimeters.

[2016-05-15 17:08] ivajloip commented on #15
Thanks for pointing me out that there is a new spec version (I have only found draft 3, but I guess that the final version will be quite similar)!

[2016-05-15 17:08] #15 closed

[2016-05-15 17:24] ivajloip opened #20 "Feature: Web interface and API authentication and authorization"
Hi,
I think it will be helpful at some point of time to add some access control to the web API. As I am going to need that soonish, I have started looking into possible solutions. So far the use of [JWT][] seems as a good option - easy to integrate, does not require too much shared knowledge if someone wants to run multiple loraservers, etc. Will you be willing to have such functionality and do yo

[2016-05-16 07:44] peterbaugh commented on #20
I agree that access control needs implementing, I was thinking this very thing this morning and was going to post. You beat me to it :) Having implemented a token based system on another API it seams like the better option, easy to use and configure.

Also I would like to see the ability to run the server without the web front end, just configure everything through API calls. I do not know if this

[2016-05-16 09:15] brocaar commented on #20
@peterbaugh the web-frontent is just a simple AngularJS application on top of the API, so everything you can do in the web-interface, is possible through the API 😄

One issue I'm having with adding access control is that the use-cases might be totally different per user. Maybe it is better to have a middleware layer on top of the LoRa Server API to expose certain API methods to your users. That wa

[2016-05-17 09:32] ivajloip commented on #20
I understand that the use-cases might be totally different for each user and in that case everyone is free to create an interface (most likely web interface) and internally to query the API that you have provided. This is how I understand your intentions. My concern is that to my experience people are not feeling quite good if everyone on a given network can access some APIs. In this regard, a tok

[2016-05-17 19:45] brocaar commented on #20
I'll have a look into it. Actually the more I dig into JWT, the more it looks like a nice solution since the token provider can still live outside LoRa Server, and the token itself can specify to which API methods and resources (e.g. which applications, nodes) the user has access to.

A token could be something like this:

[code]

[2016-05-20 13:00] raphaelpeters opened #21 "mqtt connection error"
When I start the semtech-bridge and loraserver both, I get following errors:

loraserver:
[code]

semtech-bridge:
[code]

I only get these mqtt packets:
[code]

But no application packets.

[2016-05-20 13:26] brocaar commented on #21
Could you post your MQTT broker version and MQTT logs?

[2016-05-20 13:35] raphaelpeters commented on #21
1463751297: mosquitto version 0.15 (build date 2013-08-23 19:23:43+0000) starting
1463751297: Opening ipv4 listen socket on port 1883.
1463751297: Opening ipv6 listen socket on port 1883.
1463751300: New connection from 127.0.0.1.
1463751300: Invalid protocol "MQTT" in CONNECT from 127.0.0.1.
1463751300: Socket read error on client (null), disconnecting.
1463751300: New connection from 127.0.0.1.

[2016-05-20 13:40] raphaelpeters commented on #21
That's a very old version, I update manually and try again.

[2016-05-20 14:06] raphaelpeters commented on #21
Ok, it works now :')

[2016-05-20 14:06] #21 closed

[2016-05-28 11:38] bu62963 opened #22 "Cannot send TXpacket from server to im880a"
Hi!
I am new to LoRaWAN, trying to setup my own network using iM880a + iC880 + RaspberryPi + loraserver.
And I managed to send sensor data from iM880 to the server then applications.
However, it seems like I cannot send any packet from applications to the server then gateway then iM880.

<img width="569" alt="screen shot 2016-05-28 at 12 37 00" src="https://cloud.githubusercontent.com/assets/67058

[2016-05-28 15:52] brocaar commented on #22
Please note that the node must initiate a receive window by sending a
packet to the application. LoRa Server will then check if there are
downlink packets in the queue and send them back to the node.

I realise now that this is undocumented, but when the application receives
a payload from the node and replies directly with a downlink payload back
to LoRa Server, it will be transmitted during rx1

[2016-05-28 16:41] bu62963 commented on #22
Thank you for replying me, brocaar.

I am using an example code in LMiC 1.5 on iM880a, and it sends a message to the server every 20s.

<img width="750" alt="screen shot 2016-05-28 at 17 38 16" src="https://cloud.githubusercontent.com/assets/6705837/15628517/de610158-24fa-11e6-8b1d-99749569d9be.png">

Is that means iM880a has initiated a receive window already?

<img width="982" alt="screen shot 2

[2016-05-28 18:22] brocaar commented on #22
Yes, your setup is correct 😄

After every transmission the node opens two receive windows; rx1 and rx2. Do you see any message being sent to the gateway (``gateway/+/tx`` MQTT topic)? If so, it might be an issue at the gateway side / misconfiguration? Note that you can compile the ``basic_pkt_forwarder`` with debugging enabled, which might be helpful to debug issues at the gateway side. As well ke

[2016-05-28 18:45] bu62963 commented on #22
Thank you again, brocaar.

However, the problem is that I cannot see any MQTT message sent to or from semtech bridge when I send a message from the application (Node-red) to the loraserver.

When iM880 is joining the network, I found this logged by loraserver:
<img width="566" alt="screen shot 2016-05-28 at 19 32 19" src="https://cloud.githubusercontent.com/assets/6705837/15629210/db12bb8a-250a-11

[2016-05-28 18:50] brocaar commented on #22
Yes, that is a downlink message to be transmitted by the gateway, probably with the payload sent by the application.

[2016-05-28 18:51] bu62963 commented on #22
I see!

Thanks!

[2016-06-02 07:18] Mehradzie opened #23 "Multiple end-nodes join issue"
Hi guys,

After whole lot of wrestling with bits and peices of LoRa today I was trying to connect a 2nd end-node to LoraServer, and surprisingly, when I have one end-node already joined, the 2nd one refuses to join.

I have tested them with the Loraserver which comes with Multitech AEP Conduit and they connected fine, so in this instance either Multitech mDot end-node library and Multitech Conduit

[2016-06-02 07:19] Mehradzie commented on #23
[Update]
LoRaWAN semtech code for end-nodes seems to have a similar issue. One node hugs the server and non of the others can join. I am not even sure where to start to bug-fix this.

[2016-06-02 08:50] brocaar commented on #23
Hmmm... that is odd. I've beed doing tests in the past with multiple nodes, but maybe a regression happend during some refactoring or changes? I'll do some testing at my side to see if I can reproduce this issue and find a fix.

[2016-06-02 11:22] VirTERM commented on #23
I don't have such problem. Running multiple nodes through more than one gateway

[2016-06-02 12:05] VirTERM opened #24 "DevAddr problem on Rx"
In my test setup, I have couple of nodes sending payload to the server. There is no problem with joining, however one of the nodes's DevAddr seems to be read incorrectly:

INFO[2753] gateway: sending udp packet to gateway        addr=x.x.x.x54847 type=PushACK
INFO[2754] gateway: received udp packet from gateway     addr=y.y.y.y:56394 type=PushData
INFO[2754] gateway: rxpk packet received

[2016-06-02 21:06] VirTERM commented on #24
This problem occurs with nodes sending payload to multiple servers, I will further investigate and follow up if necessary, closing for now.

[2016-06-02 21:06] #24 closed

[2016-06-03 00:59] Mehradzie commented on #23
I've put a 10s delay before sending the packets after the join and now the rest of the nodes (3 at the same time) join, no problem. gonna cram in another 10 to see how it will handle it. How frequently you guys have been sending packets for your testing?

I am guessing we are still dealing with the sx1310 single buffer issue with the current basic/gps/etc packet forwarder which doesn't have any qu

[2016-06-03 01:42] VirTERM commented on #23
For testing i send packet every 2
mins. Usually, multiple gateways and couple of nodes per gateway.

[2016-06-03 13:54] ivajloip commented on #23
I have also tested with multiple devices without a problem. In my case there was a large time difference between the join requests and thus the buffer size was not an issue for me.

[2016-06-03 16:01] brocaar commented on #4
I've started working on the MAC commands implementation. My idea is that the network-controller will be a component that is not part of LoRa Server and that LoRa Server provides various mqtt topics for communication. Outline of my idea:

There will be a new NetworkController backend which is responsible for the following topics:

`application/[AppEUI]/node/[DevEUI]/rxinfo`
Is already implemented (

[2016-06-06 19:01] brocaar commented on #22
Could you let me know if your issue has been resolved?

[2016-06-06 23:22] Mehradzie commented on #23
Thanks guys. I have figured out the during the 5 second wait for the join response, the request was getting over written by another node's 2 second data. Hope they implement the queue on the stable edition of packet forwarder soon.

[2016-06-06 23:22] #23 closed

[2016-06-07 07:01] ivajloip commented on #4
Hi Orne,

This generally seems as a good plan which allows a great deal of flexibility. I have some small concerns, but maybe they are due to my misunderstanding and in any case I don't think they are very serious. Here they are:

* MAC commands in the queue might overwrite each other. Maybe there should be a way to detect this or at least to cancel a MAC command.
* How are you going to handle Lin

[2016-06-07 18:28] brocaar commented on #4
1. Yes, however I think it is best that LoRa Server should not know anything about MAC commands. The same issue applies I think for application payloads. Currently there is no way to cancel out a payload that is still in the queue. I think to start with, I'll just implement a FIFO queue. Maybe this can be resolved through the RPC API (eg. the network-controller makes an RPC call to remove a MAC co

[2016-06-07 21:06] ivajloip commented on #4
I still have not looked into your implementation, so I am replying only based on your comments and I will provide a second reply when I manage to take a look into the code.

1. Sounds good to me.
2. Ok, so loraserver should wait for some time before sending a reply (to give time for the network-controller to reply).
3. Sounds good :)
4. Yes, an acknowledgment is required, but my idea was if there

[2016-06-08 12:21] brocaar commented on #14
The new packet forwarder has been released (with just-in-time scheduling)! https://github.com/Lora-net/packet_forwarder/releases/tag/v3.0.0

I think before we can use the new packet forwarder, I need to make some changes to the Semtech Bridge because of the protocol changes. I'll look into that this Friday.

[2016-06-08 12:44] Mehradzie commented on #14
Thanks
On 8 Jun 2016 10:21 pm, "Orne Brocaar" <notifications@github.com> wrote:

[2016-06-08 13:03] bu62963 commented on #22
No, sorry.
But I have changed to ttn server, and now everything is ok.

[2016-06-09 05:02] Mehradzie commented on #14
Haha... didn't think the reply through my Pebble watch will end up here :watch: :laughing:
That would be great Orne... This is a big limitation atm and I have been waiting for their team to publish that queue enabled edition.

[2016-06-09 06:58] Mehradzie opened #27 "Idle State! Is there such a thing in loraserver/semtech-bridge?"
Hey guys,

This morning, after I came back to my setup, I have notice that my server is inactive and since I was already tailing the logs I had a quick look and fair enough the last message on the Semtech-Bridge logs was,

`level=info msg="backend/mqttpubsub: unsubscribing from topic" topic="gateway/0000024b000e0000/tx"`

I have disabled all the testing end-nodes before I left, last night, so noth

[2016-06-09 07:36] ivajloip commented on #27
Hi,

Something like that happened a few days ago to me as well, but I did not have the time to take a closer look into it. I will try to reproduce it today/tomorrow and hopefully if there is a problem, we will manage to find it :)

[2016-06-09 09:31] brocaar commented on #27
This ``unsubscribing from topic`` happens when there isn't any activity from the gateway anymore after a given time, meaning your gateway / packet_forwarder doesn't send any stats packets (normally this is every 30/60 sec or so?). It shouldn't unsubscribe when the gateway is active, but there are no active nodes.

[2016-06-09 11:58] ivajloip commented on #27
In my case it is possible that the gateway was not sending packets. As far as I remember, a simple semtech-bridge restart did not solve the problem and I had to restart the packet forwarder as well.

[2016-06-10 00:47] Mehradzie commented on #27
Well, Murphy's law proves itself one more time just in case. I have left the setup in idle mode with removing all the end-nodes last night and guess what!! Nothing happened. When I came back to it this morning the gateway was still sending status reports and it was all good.

I am assuming this is more of a gateway and packet forwarder issue, and when the packet forwarder is back online, the bridg

[2016-06-10 00:47] #27 closed

[2016-06-10 06:47] Mehradzie opened #28 "The method to flush the unreceived data queue"
Hi all,

I am wondering if there is a method to flush or shrink the un-received confirmed data queue.
While doing testing I echo heaps of data back to the end-nodes which based on the conditions they might not be received. Later on, when the issue is fixed, I receive heaps of old data buffered in the loraserver queue until I get to the bottom of the list and start receiving back, what I actually w

[2016-06-10 07:25] ivajloip commented on #28
For me the following thing helps

1. Find the IP address of the redis `docker inspect loraserver_redis_1 | grep '"IPAddress"' | head -n 1 | tr -s " " | cut -f 3 -d " " | cut -f 2 -d '"'`
2. Connect to this redis instance `redis-cli -h <ip address>`
3. Remove the key that you need `del node_tx_queue_<devEUI>`

[2016-06-10 13:32] brocaar commented on #28
Will look into adding queue related methods to the API after I've finished the MAC command implementation.

[2016-06-10 13:42] brocaar commented on #14
I've implemented the new Semtech UDP protocol v2, meaning you can update your `packet_forwarder` to version 3.0.0 with the just-in-time scheduling!

| LoRa Semtech Bridge | Semtech UDP protocol version | Note                                                                |
|---------------------|------------------------------|---------------------------------------------------------------------|
|

[2016-06-12 02:31] Mehradzie commented on #14
That's fantastic news. Thanks heaps
On 10 Jun 2016 11:42 pm, "Orne Brocaar" <notifications@github.com> wrote:

[2016-06-20 00:57] VirTERM commented on #23
Actually, I run some tests, and i can see that there is a problem. If i send even a couple of join requests via the same gateway, at least one of them will fail....

[2016-06-20 05:44] brocaar commented on #23
Did you already try the new packet_forwarder (v3) with the
lora-semtech-bridge (v2)? The new packet_forwarder should fix some issues
regarding to scheduling.

On Mon, Jun 20, 2016, 02:57 Wojciech Tryc <notifications@github.com> wrote:

[2016-06-21 15:46] ivajloip commented on #4
I reviewed quickly the changes in for the mac commands and it looks good to me. Good job :+1:

[2016-06-27 17:25] brocaar commented on #4
I've just tagged version 0.8.0 with MAC command support :-)
http://loraserver.readthedocs.io/en/latest/changelog/#080
http://loraserver.readthedocs.io/en/latest/network-controller/

[2016-06-27 17:25] #4 closed

[2016-06-30 07:49] siscia commented on #22
@brocaar

I would like to re-open this thread.

I tried to send a message via HTTP post request and everything I get is a 500 error code.

I tried to take a look into the code base but I wasn't able to find where the `/application` endpoint is handle.

From there onward I think I can manage by myself to fix my issue...

[2016-06-30 20:32] brocaar commented on #22
Note that you need to send your downlink payload over MQTT (JSON encoded): http://docs.loraserver.io/loraserver/sending-data/. `application/[AppEUI]/node/[DevEUI]/tx` is not an http endpoint but a MQTT topic :-)

[2016-07-02 11:09] athtest800 opened #30 "LinkCheckAns"
Hi!
I am new to lorawan and i have a device that makes LinkCheckReq. Is it possible to implement it with LinkCheckAns on the loraserver for automatic reply-answer to the device?

[2016-07-02 15:15] flexiot opened #31 "support Class B"
does the lora server support loraWAN class B?  lora gateway from semtech support beacon mode. it would be cool that the lora server support Class B including align the beacon rx slot, send frame at the right rx slot.

[2016-07-02 16:44] brocaar commented on #30
This part belongs to the responsibility of a network-controller, which is (currently) not part of LoRa Server. See also: http://docs.loraserver.io/loraserver/network-controller/. Keeping the network-controller part outside of LoRa Server enables you to add your own business logic to it :-)

[2016-07-02 16:46] brocaar commented on #31
It doesn't currently but I'm planning to add class b and c support in the future.

[2016-07-02 21:05] athtest800 commented on #30
i use node-red, mqtt output with this topic
`application/0000000000000000/node/0102030405060708/mac/tx`
and this function
`var dd = {"reference": "abcd1234",
    "devEUI": "0102030405060708",
    "frmPayload": false,
    "macCommand": "Ag==" , //is this write for LinkCheckAns (0x02)??
    "data": "//8=" //here i use pre encoded base64 ??
    }
return {
   payload:dd
}`

But i get
`"unmarshal mac c

[2016-07-03 08:27] brocaar commented on #30
There is no ``data`` field: http://docs.loraserver.io/loraserver/network-controller/#sending-data

The full mac-command (including CID) needs to be base64 encoded and put into ``macCommand``

[2016-07-03 14:53] athtest800 commented on #30
Thank you! Fixed

[2016-07-03 14:53] #30 closed

[2016-07-04 01:07] ksuie opened #32 "use docker to run v0.8.0, connect MQTT broker timeout"
`$ ./loraserver --db-automigrate --net-id 010203 --band EU_863_870 --postgres-dsn "postgres://dbuser:dbpwd@192.168.10.11/loraserver?sslmode=disable" --redis-url "redis://192.168.10.11:6379" --gw-mqtt-server "tcp://test.mosquitto.org:1883" --app-mqtt-server "tcp://test.mosquitto.org:1883"`
INFO[0000] starting LoRa Server                          band=EU_863_870 net_id=010203 version=0.8.0
INFO[0000

[2016-07-04 14:07] arjansplit commented on #22
Hi Brocaar, i would like to follow up on the questions "bu62963" asked.

I am experiencing a similar problem with sending a downlink (application ->node) transmission.
When sending  my downlink payload over MQTT (JSON encoded), like you said in previous post i do get a confirm message form my loraserver that the "tx payload is received" and that the tx-payload is added to queue. In order to receiv

[2016-07-04 14:29] brocaar commented on #22
I think I might know what the issue is in your case. Did you setup any custom channels? It looks like there is a bug in the code related to that. I'll look into it later today.

[2016-07-04 14:40] arjansplit commented on #22
I did setup some custom channels, I also discovered in the file "band_eu863_870.go" that only these channels occur :"868100000,868300000,868500000".

For my custom channel list i used all the frequencies that occur in the following file listed on: "https://github.com/Lora-net/packet_forwarder/blob/master/lora_pkt_fwd/global_conf.json"

summarized:
Channel # // Frequency
3 ; 867100000
4 ; 867300000

[2016-07-04 16:18] brocaar commented on #32
I'm not sure how this is related to LoRa Server if it works without Docker. Might as well be a Docker network related issue. Out of curiosity I tried to reproduce your issue, but works like a charm here:

[code]
[code]

Btw, don't forget to pass the ``--controller-mqtt-server``.

[2016-07-04 16:18] #32 closed

[2016-07-04 16:22] brocaar commented on #22
The first three must always be implemented, the rest is user defined. I think that is where it goes wrong at the LoRa Server side (I'm doing some validation, but I think I've forgotten to consider custom channels). Thanks for reporting it 👍

[2016-07-04 18:27] brocaar commented on #22
@arjansplit I've confirmed the issue and fixed it (https://github.com/brocaar/lorawan/commit/16849c67e8e7b8d7896e8a5f05a650f953f69471 + some changes in loraserver itself to make use of this). The fixed version will be available as 0.8.1 shortly.

[2016-07-04 19:10] comet-bg opened #33 "FATA[0000] NetID parse error: lorawan: exactly 3 bytes are expected"
Аt startup I get the following error:
FATA[0000] NetID parse error: lorawan: exactly 3 bytes are expected

/etc/systemd/system/loraserver.service.d/loraserver.conf content:

[Service]
Environment="NET_ID=010203"
Environment="BAND=EU_863_870"
Environment="HTTP_BIND=0.0.0.0:8000"
Environment="POSTGRES_DSN=postgres://loraserver:dbpassword@localhost/loraserver$

Environment="DB_AUTOMIGRATE=True"

Host

[2016-07-04 19:13] brocaar commented on #33
Did you start the service with systemd or from the command-line?

[2016-07-04 19:28] comet-bg commented on #33
yes, I followed the getting started instructions:
pi@raspberrypi:~ $ loraserver
FATA[0000] NetID parse error: lorawan: exactly 3 bytes are expected
pi@raspberrypi:~ $

[2016-07-04 19:30] brocaar commented on #33
https://docs.loraserver.io/loraserver/getting-started/#starting-lora-server

[code]

[2016-07-04 19:32] comet-bg commented on #33
pi@raspberrypi:~ $ sudo systemctl start loraserver
pi@raspberrypi:~ $ journalctl -u loraserver -f -n 50
No journal files were found.

[2016-07-04 19:38] brocaar commented on #33
I'm not sure if I can help any further here, as every system is configured differently, but make sure you've create the `/etc/systemd/system/loraserver.service` file. As well, the systemd setup was to get you started, if that doesn't work you can also start loraserver from the cli with `loraserver`, passing the configuration as cli parameters like any other cli tool (see `loraserver --help`).

[2016-07-04 19:41] comet-bg commented on #33
thanks for the help!
strange but also for manual startup I get an error:
pi@raspberrypi:~ $ loraserver --net-id / 010203
FATA[0000] NetID parse error: encoding/hex: odd length hex string

[2016-07-04 19:43] brocaar commented on #33
Try it without the ``/`` 😉

[2016-07-04 19:45] comet-bg commented on #33
it helped :)
Apparently I have a problem with loraserver.conf file ...
Thank you!

[2016-07-04 20:05] #33 closed

[2016-07-05 06:23] arjansplit commented on #22
Okay, i will download the new version,

Thank you very much!

[2016-07-05 08:08] arjansplit commented on #22
Hi Brocaar, I've downloaded the new 0.8.1 version and my problems are fixed. Thanks for that!

Something what does happen in the loraserver commandline is that it is giving the same error messages as before when receiving packets on the frequencies that are non-standard (i.e. channel 3-7 867.1 , 867.3, 867.5, 867.7, 867.9)
The received messages do appear in my MQTT broker, so i conclude that the m

[2016-07-05 08:21] brocaar commented on #22
Could you try / validate the following:

* Did you setup the custom channel-list in the web-interface / API
* Did you assign this channel-list to the node in the web-interface?
* Could you do a new OTAA and test again? This will provision your node with the channel-list and will update the node-session. Since it stores the `CFList` within the node-session, it might still be empty when the session

[2016-07-05 08:56] arjansplit commented on #22
1. I did setup a channel list via the web-interface.
2. I did assign the custom channel list via the web-interface to the node.
3. I used ABP for activating my nodes. I made a whole new application with all new identification keys. I've changed the DevAddr, AppUEI, DevEUI, Appkey, AppSKey and NwkSKey to new value's.
Is it necessary to use OTAA to use the custom channel list? My node wouldt respond

[2016-07-05 10:01] arjansplit commented on #22
Hi Brocaar,
I've managed to get OTAA working on my node.
The error message doesn't appear anymore so you could dismiss my previous questions regarding my previous question.

Thanks for your effort so far!

[2016-07-05 17:59] brocaar commented on #22
Great! Technically it is possible to to APB with extra channels, but when creating the node-session these channels must be given. This is not yet possible through the web-interface, but can already be done through the API:

[code]
(replacing `channelx` with the channel frequency) See also: https://docs.loraserver.io/loraserver/api/

[2016-07-05 17:59] #22 closed

[2016-07-05 18:01] #19 closed

[2016-07-05 20:04] brocaar commented on #20
I've been digging into adding auth. to the API. My plan is to replace the current API with gRPC*. This makes it possible to generate an API client (eventually clients for different programming languages) + gRPC has support for auth. metadata (the `net/rpc` package I'm currently using doesn't expose any request related metadata). Since gRPC doesn't have browser support (yet?) I'm planning to use ht

[2016-07-06 08:47] ivajloip commented on #20
I did some reading on the gRPC and it seems quite interesting :) I did not manage to understand however how the security is handled in the case of grpc-gateway. It seems to me that your intention is to use the metadata for authentication/authorization purposes. If I understood correctly, this means that headers that you send will be transformed into metadata. To set the headers, this means for me

[2016-07-07 06:18] brocaar opened #34 "Missing AppEUI check"
There must be a check here to make sure the AppEUI from the node is the same as the AppEUI from the join-request: https://github.com/brocaar/loraserver/blob/master/internal/loraserver/join_request_accept.go#L24

[2016-07-07 12:51] siscia opened #35 "Documentation link broken"
It is still showed the old link, it should be changed to the new one: https://docs.loraserver.io

[2016-07-07 12:55] brocaar commented on #35
Could you tell me at which page it shows the old url? So far I know I changed them all, but I might have missed one...

[2016-07-07 13:03] siscia commented on #35
The description of this same project still point to the old documentation link.

I thought also the README itself, but maybe I was seeing a cached page.

[2016-07-07 21:09] #35 closed

[2016-07-09 12:49] athtest800 opened #38 "FCnt if node reset"
Hi!
When the node reboot, i get not rx messages. How to avoid this issue? In the backend i have FCnt >0 (eg.50). When i reset it to 0, messages arrive. Should i manually change this or the backend can ignore it?
Thank you egain for this great software!

[2016-07-12 06:40] yzk0281 opened #39 "Hi, I setup Loraserver but when I try to visit the http page got nothing"
./loraserver --net-id 010203 --band EU_863_870 --http-bind 0.0.0.0:8000 --postgres-dsn postgres://loraserver:dbpassword@localhost/loraserver?sslmode=disable --redis-url redis://localhost:6479 --db-automigrate
I start loraserver with the commend above from the precompiled binary file
All things seem work well according to log:
time="2016-07-12T14:30:10+08:00" level=info msg="starting LoRa Server" b

[2016-07-12 06:43] Mehradzie commented on #39
If you mean to see the GUI for the Loraserver, try port `3000`

[2016-07-12 07:01] yzk0281 commented on #39
@Mehradzie  thanks
but port 3000 does not work

[2016-07-12 07:07] yzk0281 commented on #39
I want to modify nodes

[2016-07-12 07:09] yzk0281 commented on #39
Should I put the static folder somewhere?
I only have a pre-compiled binary file 'loraserver' now~

[2016-07-12 07:10] Mehradzie commented on #39
I am sorry. I have no idea why I thought that is port `3000`. I have it open on front of me on `8000`. Must be getting old :)

I must be dreaming again but from you said above

so you chose your http server to be on 8000, however, the loraserver log shows that it's trying to open port `8001` instead :O

Could you try the the link below to kinda jump to the applications page, in case there is a pro

[2016-07-12 07:13] yzk0281 commented on #39
blank still

[2016-07-12 07:14] yzk0281 commented on #39
any way to see the http log of loraserver?

[2016-07-12 07:14] yzk0281 commented on #39
quite confused

[2016-07-12 07:15] Mehradzie commented on #39
Could you provide an screenshot?

[2016-07-12 07:16] yzk0281 commented on #39
![image](https://cloud.githubusercontent.com/assets/10084342/16758361/9c615b74-4843-11e6-98b4-a1168c1d51ed.png)

[2016-07-12 07:17] yzk0281 commented on #39
just like this

[2016-07-12 07:20] Mehradzie commented on #39
Is *loraserver* running on a VM? if so, have you given permissions to port `8000` , `8001` or any port that you chose to use to be accessed from outside world? :)

[2016-07-12 07:23] Mehradzie commented on #39
Other than than, I am sorry @yzk0281. I don't have any other ideas in mind. I have never had a problem accessing that page in the past. Let's see what others think about this.

[2016-07-12 07:26] yzk0281 commented on #39
@Mehradzie  thank you~
this is a strange problem~

[2016-07-12 07:28] yzk0281 commented on #39
or I got wrong go version?
@Mehradzie which version do you use?

[2016-07-12 07:31] Mehradzie commented on #39
Just get the fully compiled loraserver from the *releases* tab in the loraserver github page and do a testing with that first.

[2016-07-12 07:58] yzk0281 commented on #39
I mean the go version

[2016-07-12 09:54] yzk0281 commented on #39
seems to be the problem of ‘https://ajax.googleapis.com’， can not  access in China~
thanks
@Mehradzie

[2016-07-12 09:54] #39 closed

[2016-07-13 02:15] yzk0281 opened #40 "Try to build LoraServer but error occured"
go get github.com/brocaar/loraserver/...
then use commend 'make build' to build from the source code but error occur:
# github.com/jmoiron/sqlx
../../jmoiron/sqlx/bind.go:142: undefined: strings.IndexByte
../../jmoiron/sqlx/sqlx.go:603: db.Ping undefined (type *DB has no field or method Ping)
# github.com/garyburd/redigo/redis
../../garyburd/redigo/redis/conn.go:97: undefined: net.Dialer
# github.

[2016-07-13 02:19] Mehradzie commented on #40
What OS you're issuing the `make build` command?
You can issue a `uname -a` and post the response.

[2016-07-13 02:21] yzk0281 commented on #40
Linux iZ23ny5ud5oZ 3.8.0-44-generic #66~precise1-Ubuntu SMP Tue Jul 15 04:01:04 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux
ubuntu 14.04 server

[2016-07-13 02:27] Mehradzie commented on #40
and the response for
`go version`

[2016-07-13 02:28] yzk0281 commented on #40
go version go1

[2016-07-13 02:30] Mehradzie commented on #40
Say, from your first error that you're receiving

The function strings.IndexByte was added in go version 1.2. So the rest of your issues can be related to that as well.

Update your go to the latest and try again. I am using **go1.6** and everything looks to be fine.

[2016-07-13 02:31] yzk0281 commented on #40
thank you very much~~~

[2016-07-13 02:41] #40 closed

[2016-07-13 07:01] yzk0281 opened #41 "Why I modified the static folder(index.html), but after recompile no change?"
Why I modified the static folder(index.html), but after recompile no change?
Do I need to use tool 'go-bindata' to regenerate static pkg？

[2016-07-13 09:19] yzk0281 commented on #41
go-bindata needed~~

[2016-07-13 09:19] #41 closed

[2016-07-13 09:20] yzk0281 opened #42 "Implement China 470-510 ISM band"
How to add ISM band? eg.470-478?

[2016-07-13 09:31] ivajloip commented on #41
Maybe it will be nice to have this done automatically by make if there is `go-bindata` installed and an informative message otherwise (it took me some time to figure out how exactly to generate the same `static_gen.go`).

[2016-07-13 09:37] ivajloip commented on #42
You need to add a file [here][1] (get inspiration from the already available options) for your band and modify [this][2] in order to be able to use your new ISM band.

[1]: https://github.com/brocaar/lorawan/tree/master/band
[2]: https://github.com/brocaar/lorawan/blob/master/band/band.go#L180

[2016-07-14 01:15] Mehradzie commented on #28
That would be great. ATM, I am lazy and the moment I hit the `redis-cli` I issue
`FLUSHALL` which is a little bit harsh. :smile:

*Feature Request*: Would also be great to be able to change the queue size externally as well.
*Feature Request*: Could we have a *Feature Request* label please? :smiley:

[2016-07-14 01:28] Mehradzie commented on #42
@yzk0281 from your previous comment I am assuming you're located in China. I appologise in advance if I'm wrong.

Based on that assumption, there is defined band for **China** in the **LoraWAN** standard published by *LoRa Alliance*, for `779-787MHz` **ISM Band**. (LoRaWAN 1.0 Specification. Section 7.3)

You can request your own copy of the specification from [this link](https://www.lora-alliance

[2016-07-14 01:33] yzk0281 commented on #42
@ivajloip  thanks for answering~
@Mehradzie band range here in China is 470 - 478
I will appreciate that if you could give a hand with this headache problem

[2016-07-14 02:10] yzk0281 opened #44 "I want to store the uplink-data into Postgresql，where is the proper location to put my code"
Is it in func handleCollectedDataUpPackets() ?
Good news is that it seems the PHYPayload decrypt already done.
Anyone already do this job?

[2016-07-14 07:08] ivajloip commented on #44
Normally you would like to have a separate application that subscribes on some MQTT topic (see [this][1] for more information) and that pushes the data to the database.

If you don't want to create another application, you can add implementation of [ApplicationBackend][] (check [this][2] one for example), but then you might have problems merging when the loraserver changes in future versions...

[

[2016-07-15 02:24] yzk0281 commented on #44
in func handleCollectedDataUpPackets()
how to read the content of macPL.FRMPayload？

[2016-07-17 09:58] brocaar commented on #38
I think the best would be either to store the state of your node (so the FCnt is not reset), or perform a new OTAA on reset, which will assign a new session to the node (with FCnt=0).

[2016-07-17 10:13] brocaar commented on #42
@yzk0281 I'm more than happy to help you out with implementing a China band. Unfortunately I'm unable to test it (which is the reason why it isn't implemented yet), but it would be great if we can work together on this.

[2016-07-17 10:18] yzk0281 commented on #42
@brocaar  I can test it, I got nodes and gateways currently working on 470 -478 but connecting to loraiot
I'm so glad that you can help me with that~
If you add it to the master, I will test it as soon as possible

[2016-07-17 10:49] #34 closed

[2016-07-17 11:25] #28 closed

[2016-07-17 18:19] brocaar commented on #42
I've created branch named `test_cn470_510` with a test implementation of the CN 470-510 ISM band. After compiling, you should be able to run `loraserver` with `--band CN_470_510` Looking forward to your test results!

[2016-07-18 01:02] yzk0281 commented on #42
thank you ~

[2016-07-18 05:35] brocaar commented on #44
Best would, as @ivajloip already mentioned, to subscribe to your node(s) MQTT topic(s) (`application/[AppEUI]/node/[DevEUI]/rx`) and persist the data yourself.

[2016-07-18 07:59] yzk0281 opened #45 "Test of CN_470_510"
1  Packets receive from nodes successfully as following log:
[code]

2 but  some error occur says:
processing rx packet error: unknown MType: ConfirmedDataDown

I found it in internal/loraserver/loraserver.go:126,  why not handle type "ConfirmedDataDown" ?

[2016-07-18 09:04] liht331 opened #46 "band config"
Hi,
is the reference file  	band_au915_928.go is based on lorawan spec? I can't find the sec in the 1R0 spec.

[2016-07-18 10:44] VirTERM commented on #44
I would expect peristemcy to be handled by the application server. In my case, I grab the data from Mqtt, interpret it, insert it into InfluxDB and then connect Grafana to it for visual presentation. With InfluxDB you can control retention period etc, so you could have different classes of service etc.

[2016-07-18 10:57] brocaar commented on #46
Yes, they were added in the 1.0.1 revision 😄

[2016-07-18 10:57] #46 closed

[2016-07-18 12:07] ivajloip commented on #45
The network server should be the one that sends `ConfirmedDataDown` so there is no point (to the best of my knowledge) of handling this. An end-node should not send `ConfirmedDataDown`, but `ConfirmedDataUp`.

[2016-07-19 12:17] spinarr commented on #38
http://cocoon.actility.com/system/files/wireless/ThingPark_Wireless%20PHY_and_MAC_layer_specifications_v1.pdf

Page 14, Frame counter field, Send only conditions

May be relevant to this issue?

[2016-07-20 01:36] yzk0281 opened #47 "Hi, how to set the database from postgresql to mysql?"
how to set the database from postgresql to mysql?
It seems that sqlx don't support mysql

[2016-07-20 06:10] brocaar commented on #47
`sqlx` does support mysql (actually, it is a thin wrapper around `database/sql`), but for now LoRa Server only supports PostgreSQL as at this point I don't want to worry about supporting different dialects.

[2016-07-20 06:10] #47 closed

[2016-07-21 12:01] brocaar commented on #45
Yes, `ConfirmedDataDown` should not be handled by LoRa Server, as this is the data sent to the node (might be a misconfiguration at the gateway side). Before I merge the band config into `master`, could you confirm if:

- [ ] data up
- [ ] data down
- [ ] OTAA

works for you?

[2016-07-22 19:13] mkurnadi commented on #42
Hi @brocaar could you provide 433 MHz ISM band as well for rest of the world ?

[2016-07-22 21:29] brocaar commented on #42
Yes, no problem. Could you please create a separate github issue for this?
And could you let me know if you're able to help out with testing (I don't
have any hardware for this band to test with).

On Fri, Jul 22, 2016, 21:13 mkurnadi <notifications@github.com> wrote:

[2016-07-23 05:33] k30r88 opened #49 "Implement 433 MHz ISM Band for Rest of the World"
This is a separate thread to request implementation for 433 MHz ISM Band for Rest of the World. Thanks

[2016-07-23 05:35] mkurnadi commented on #42
Sure, I already have devices to test at 433 MHz. I just opened a separate github issue for this.

[2016-07-23 11:11] brocaar commented on #42
@yzk0281 could you please let me know if the following works for you?

- [ ] data up (node -> loraserver)
- [ ] data down (loraserver -> node)
- [ ] OTAA (over-the-air activation)

I'll merge these changes into `master` as soon as I have the confirmation from you (or somebody else who is able to test this ISM band) and tag a new release :-)

[2016-07-23 11:46] yzk0281 commented on #45
@brocaar
I modify band_cn470_510.go  to follow and data up/OTAA all works well, mainly about the uplink and down link channel & frequency should be the same:
package band

import "time"

func newCN470Band() (Band, error) {
	band := Band{
		DefaultTXPower:   14,
		ImplementsCFlist: false,
		RX2Frequency:     505300000,
		RX2DataRate:      0,

		MaxFCntGap:       16384,
		ADRACKLimit:      64,
		ADR

[2016-07-23 12:43] brocaar commented on #45
@yzk0281

Looking at the changes you made to the initial version:
![image](https://cloud.githubusercontent.com/assets/165497/17077910/3dd75858-50e3-11e6-9124-229c521160e3.png)

And the LoRaWAN specs (v1.0.1):
![image](https://cloud.githubusercontent.com/assets/165497/17077914/550d93c0-50e3-11e6-8642-3cccd44f47db.png)

I'm wondering where you got the info that the uplink & downlink channels must be

[2016-07-24 15:47] brocaar commented on #49
Hi @mkurnadi, I've added a test-implementation in https://github.com/brocaar/loraserver/tree/test_eu433. For convenience you can download pre-compiled binaries here: https://www.dropbox.com/sh/27n77z9i37jyzob/AACKICcESHiMZ1W5YN6akOM9a?dl=0. To start loraserver with the EU 433 band, use the `--band EU_433` flag.

Could you let me know if the following works?

- [ ] data up (node -> server)
- [ ] da

[2016-07-25 10:11] panyingyun commented on #42
@yzk0281  could you tell me your  email or qq,  Email: panyingyun(at)gmail.com   QQ:919224283. our team also test 470~510 mode, so we can help each other

[2016-07-25 10:59] brocaar commented on #42
@panyingyun @yzk0281 if you want, I can provide pre-compiled binaries to test with for the 470-510 band. Just let me know!

[2016-07-26 01:07] yzk0281 commented on #45
@brocaar
I am Chinese and I am working on it now, I have confirmed that the  band_cn470_510.go I provided works fine.
The LoRaWAN you mentioned above is, maybe one of the solutions as the frequency assignment is different from each other.

[2016-07-26 01:36] yzk0281 commented on #45
@brocaar
We working on class A, the uplink & downlink channels must be the same as downlink window is right after the uplink window and it is short.
The frequency assignment in loraserver should cover the settings in gateway && node
Our  gateway && node working frequency has 8 point witch is 471.3 471.5 471.7 471.9 421.1 421.3 421.5 421.7
and they all in covered by the band_cn470_510.go I mentione

[2016-07-28 01:18] panyingyun commented on #42
@brocaar    very thank you, please provide  me 470-510 band pre-conmpiled binaries for test, thanks.

[2016-07-28 06:33] brocaar commented on #42
here you go! https://www.dropbox.com/sh/amul3hcxz8l1s3h/AAA_u-D-F0MuuzV73VyeXABwa?dl=0

[2016-07-28 19:19] brocaar commented on #20
@ivajloip The first step has been implemented and tagged as 0.9.0 :-) This new api makes it possible to implement authentication layers on top of it, something that the old implementation was lacking. I'll continue on the JWT auth. in the next release :-)

[2016-07-29 01:46] Mehradzie commented on #42
Is there a list of ISM bands defined in different countries ? :)
I am still confused about the ISM band range in China as China in the LoraWAN standard is defined for 779-787MHz ISM Band.

[2016-07-29 05:58] brocaar opened #50 "China 779-787 ISM band"
I'm planning to implement support for the 779-787 ISM band soon. Please let me know if you would be able to help out with testing (I will provide custom binaries for this range), as I don't have hardware myself for this frequency range.

[2016-07-29 05:59] brocaar commented on #42
The list in the LoRaWAN specs :-) In China there are two ISM band ranges implemented:

* CN470 - 510
* CN779 - 787

For the latter one, I've created a new issue to track it's progress: https://github.com/brocaar/loraserver/issues/50.

[2016-07-29 09:46] siscia opened #51 "Time of message send"
Most likely is me missing something.

However the payload from the topic `application/[AppEUI]/node/[DevEUI]/rx` which is the one containing the data from the motes does not contains any reference to the time when the message has been sent.

How do I know when a particular messages is been sent?

[2016-07-29 17:06] brocaar commented on #51
Yes you're right. I think it makes sense to add a `time` field to the rx payload containing the time when the payload was received by the gateway.

[2016-07-29 17:38] siscia commented on #51
I can provide a PR Tomorrow hopefully ;)

[2016-07-29 18:13] brocaar commented on #50
Pre-compiled binaries with a test-implementation for this band can be downloaded at: https://www.dropbox.com/sh/ihdbm7qsr42rn3i/AADE_j0f8bLMRWjFXueT5-SKa?dl=0

See `test_cn779_787` branch for the source.

[2016-07-29 19:28] brocaar commented on #49
Hi @mkurnadi I'm looking forward to your test-results :-)

[2016-07-31 17:19] BWhitten opened #52 "Join accept delay"
I think in join_request_accept.go I see that join-accept messages are loaded with the nodes RXDelay parameter (LoRa spec says 1s) where the node should probably use a separate JoinAcceptDelay parameter (LoRa spec says 5s) for the join accept.
Motes adhering to the LoRa spec fail to pickup the join-accept message if it's sent like a standard data packet at 1s.

[2016-07-31 18:35] brocaar commented on #52
Hi @BWhitten, could you post a link to the link where you see the `RXDelay` being used for the join-accept transmission timestamp? As far as I'm aware, I'm always using `common.Band.JoinAcceptDelay1`: https://github.com/brocaar/loraserver/blob/master/internal/loraserver/join_request_accept.go#L178

The `RXDelay` is set to the `NodeSession` ([here](https://github.com/brocaar/loraserver/blob/master/

[2016-08-01 02:39] mkurnadi commented on #49
hi @brocaar, I am getting multi channel gateway and just arrived from overseas. I have been using single channel gateway in last few month. I will try the multi GW with your development software. Many thanks.I will update you again.

[2016-08-01 10:18] BWhitten commented on #52
Ahh I see, I was mistaken when I saw those above lines. I thought the JoinAcceptPayload was what was being sent out to the gateway. I shall close this, thanks.

[2016-08-01 10:18] #52 closed

[2016-08-01 12:17] danielh93 opened #54 "confirmation not received"
Hello!

First of all thank you for you efforts for building up the lora server. Everything easy to use and have a great documentation.

I have a iC880A + Rasp Pi 3 gateway with Microchip LoRa Mote (RN2483). I using the Semtech lora packet forwarder (lora_pkt_fwd) with your gateway_bridge and server. The gateway and the endpoint are few centimeter away from each other.

I have a problem with the co

[2016-08-01 12:30] ivajloip commented on #54
Hi,

I think it will be useful if you can provide

1. logs from loraserver
2. logs from lora-gateway-bridge
3. logs from packet_forwarder
4. versions of the above
5. any other relevant information

this can provide some additional information why there is no reply received by the end-node. Whether the loraserver, the gateway-bridge or the packet forwarder didn't send it or the end-node simply did

[2016-08-01 15:32] brocaar commented on #42
@panyingyun were you able to do some testing with the binaries? Looking forward to the results :-)

[2016-08-01 15:39] brocaar opened #55 "ADR support"
After the authentication / authorization for the API, I'm planning to look into ADR support. Looking forward to feedback on this, especially regarding the logic which triggers the network to request a data-rate adaption.  Please share your thoughts!

[2016-08-01 23:22] Mehradzie commented on #42
"7.6  CN 470-510MHz Band" :astonished:
How on earth I have missed this. It's totally missing from my paper copy version. *Mystery*

my bad.

[2016-08-01 23:24] Mehradzie commented on #54
@danielh93 are you in the close range from your gateway? ( I mean both-on-your-desk sort of range)
Because we have some issues with the Downlink here in Australia when we get closer to the margins of the coverage but nothing in the close range.

[2016-08-02 03:18] yzk0281 opened #56 "Devaddr got only 8bytes, wondering if it's enough"
Devaddr  got only 8bytes and each nodes need a unique Devaddr,
what if 8 bytes is not enough for all the nodes？

[2016-08-02 03:35] yzk0281 commented on #56
sorry, typo
only 4 bytes

[2016-08-02 06:18] ivajloip commented on #56
Hi,
It actually has less as some bits are used for netID. As far as I know, the LoRa alliance says that this is not a problem as the real identification of the end-device is not only by DevAddr, but also by NwkSKey, which greatly increases the number of possibilities. I hope this reassures you :)

[2016-08-02 06:19] yzk0281 commented on #56
@ivajloip
Do you mean that different nodes could have the same DevAddr?

[2016-08-02 06:21] ivajloip commented on #56
That's my understanding. Note that currently the implementation does not support this.

[2016-08-02 06:27] yzk0281 commented on #56
@ivajloip , I agree with you.
@brocaar  In loraserver, we can see redis keys like "node_session_00983e58", if different nodes have same DevAddr then they'll have the same redis key, thus will cause problems.
Maybe only store infomation in keys like "node_session_DevEUI" could solve this confict?
DevEUI is a large number which is enough for all.

[2016-08-02 06:33] brocaar commented on #56
Possibly, you could have different neighbouring `NetID`s. I think the `NetID` (and thus the `DevAddr` pool within that `NetID`) can repeat, as long as two neighbours don't have the same `NetID`. Note that this isn't currently supported yet, as you'll start LoRa Server with a fixed `NetID`. From reliable sources I've heard that roaming is now a discussion topic within the alliance, there might be o

[2016-08-02 06:34] yzk0281 commented on #56
@ivajloip
could you give me some link where "the LoRa alliance says that this is not a problem as the real identification of the end-device is not only by DevAddr, but also by NwkSKey" ? I want to have a good look into this.

[2016-08-02 06:41] yzk0281 commented on #56
@brocaar
So what is your opinion if DevAddr is not enough?

[2016-08-02 06:49] brocaar commented on #56
![image](https://cloud.githubusercontent.com/assets/165497/17319326/3fc905b0-588d-11e6-83f6-cab67f7d0bd6.png)

As long as the networks (with different `NetID`s) are small enough so that each `DevAddr` pool will not exhaust, that could work. But again, it needs roaming in place as your node might move from one network to the other. I'm looking forward to hear if the LoRaWAN v1.1 specs will cover th

[2016-08-02 07:11] yzk0281 commented on #56
@brocaar @ivajloip
Thank you guys.
Currently I intend to ignore the NetID digits, thus I can have more than 4 billion different DevAddr.
If it still not enough, then I think I will make some modify to the LoRawan as follows:
![lora1](https://cloud.githubusercontent.com/assets/10084342/17319831/07484c06-58c3-11e6-8cdd-d1f2b297aa57.png)
I will take advantage of the extra 1 byte before FRMPayload for

[2016-08-02 07:36] ivajloip commented on #56
@yzk0281
I heard this during the All members meeting of LoRa Alliance in Munich, so I can not provide you with document that states this.

Second point, as long as no roaming is required for your network, you have no problem using all the 4 bytes (i.e. without netID) and this was also said during the Munich event.

@brocaar
To the best of my knowledge, the netID's are given by the LoRa Alliance an

[2016-08-02 07:39] nestorayuso commented on #56
This document explains the NetID allocation, and roaming impact, although not clearing the extra use of NwkSKey to unequivocally identify nodes.

[https://es.scribd.com/document/317164891/20160603-NetID-Alloc-Policy-Application-1178-1](https://es.scribd.com/document/317164891/20160603-NetID-Alloc-Policy-Application-1178-1)

[2016-08-02 14:59] OpenSourceTycoon commented on #51
@brocaar ,

can i help you in RESTFul side ?

[2016-08-02 16:07] ivajloip commented on #55
Hi,
I did not have that much time to think about this, but here are my initial ideas.

* When too many packets lost from a device and if nothing better can be done, try to increase the spreading factor. Better things to be done might include adding a new channel to the end-device or disabling a channel that has too much noise.
* When the signal on arrival is not very strong -> increase the spreadi

[2016-08-02 23:43] Mehradzie commented on #55
Yep. but to be honest most of the decision making is going to revolve around what numbers are *too many* or *too few*.
Failing to come up with sensible numbers could cause the system to oscillate and that's the last thing you really want.

[2016-08-04 01:04] panyingyun commented on #42
@brocaar  CN470 - 510  pre-conmpiled binaries   uplink data and activation-by-personalization (ABP)   test ok.    Now do not know how to test  Downlink data  and OTAA

[2016-08-04 06:19] ivajloip commented on #42
One way is to send confirmed data from your end-device. If you receive the confirmation, downlink communication works. More complicated way is through pushing data to some mqtt topic. See [this][1] for more information.

[1]: https://docs.loraserver.io/loraserver/sending-data/

[2016-08-05 08:02] ivajloip commented on #56
By the way, I found [something][1] that confirms my understanding about `DevAddr` uniqueness

[1]: https://www.thethingsnetwork.org/wiki/LoRaWAN/Security

[2016-08-05 08:20] dashracer commented on #49
Hi @brocaar, I'm helping @mkurnadi to setup loraserver.
I've followed your documentation and install this specific build for 433 band.

I've executed default start command and the server is working and can accessed from browser.
but if I try to add --band option
sudo systemctl start loraserver --band 443_EU

this is the response

systemctl: unrecognized option '--band'

How can I solved this?

Tha

[2016-08-05 08:40] pdemil commented on #56
Using the NwkSKey to map a non-unique device address (DevAddr) to a unique DevEUI is sufficient, if the NwkSKey is unique (as recommended).

[2016-08-05 13:58] brocaar commented on #49
You're passing the argument to systemctl, not loraserver. You should change
the loraserver.service file and add the flag there :)

On Fri, Aug 5, 2016, 10:21 dashracer <notifications@github.com> wrote:

[2016-08-06 02:03] dashracer commented on #49
Hi @brocaar, the service cannot start.

I've updated the service
[code]

This is the log

[code]

[2016-08-06 07:17] brocaar commented on #49
Nice! Could you confirm both data up and down is working (e.g. confirmed data up or OTAA)?

[2016-08-09 20:23] iBrick opened #59 "Deletion of node doesn't affect Redis DB"
Looks like there's a bug in Delete method for Node.
When I press 'Delete' button the row is deleted from Postgres DB, but it stays in Redis DB.
So if you create a node with same DevEUI again all previous settings are back (but the data is not coming for the old settings and start coming only when you change DevAddr and keys).

[2016-08-10 06:30] brocaar commented on #59
Thanks for reporting this! I'll look into later today.

[2016-08-10 19:35] #59 closed

[2016-08-10 21:03] brocaar commented on #20
This has been implemented and released as `0.10.0`

[2016-08-10 21:03] #20 closed

[2016-08-10 21:04] #44 closed

[2016-08-11 09:28] Daniel-dk opened #60 "could not setup mqtt backend: Identifier rejected"
is there a way to set the Client ID ?
We're connecting it to VerneMQ and getting the "Identifier rejected" response to a join for both loraserver and lora-gateway-bridge when we have password authentication on the broker

I'm not sure if our sever is not configured properly or the client connect is different from what it expects and mosquitto is ok with it

When we enable anonymous mode on our bro

[2016-08-11 13:41] iBrick commented on #59
Thank you very much!

[2016-08-11 13:45] brocaar commented on #60
Thanks for reporting this issue. I'll look into it later today or tomorrow!

[2016-08-11 13:48] iBrick opened #61 "Cannot create new node because of DevEUI size check"
Hi,

After installing new version (looks like this bug appeared about 7-10 days ago) I can't create a new node.
If I put a size of 8 byte in DevEUI it shows message 'exactly 16 bytes are expected', when I put 16 bytes in it it says 'exactly 8 bytes are expected'.
<img width="659" alt="bug1" src="https://cloud.githubusercontent.com/assets/4927627/17590591/f4dde4b4-5fe2-11e6-9f84-5a23b7dc671f.png">

[2016-08-11 13:56] iBrick commented on #56
Regarding non unique DevAddr I already found a problem in current loraserver architecture. It is possible to have several nodes with same DevAddr but different DevEUI. If you delete on of nodes all records from Redis for appropriate DevAddr are deleted as well.

[2016-08-11 14:07] brocaar commented on #61
The error you're seeing is related to the `AppKey` field, not the `DevEUI`. Please note that the web-interface is really basic (at some point, there will be a better one, but I wanted to provide a gui on top of the API at least).

Regarding your second point, I'm not sure if it is common that a node has a fixed `DevAddr`. The check is there since the `NwkID` prefix will be used for roaming. I've h

[2016-08-11 14:10] brocaar commented on #56
It should not be possible right now to have multiple nodes with the same `DevAddr`, as the `DevAddr` is part of the Redis key, so they would overwrite each other. Could you give a link to the code where you see the issue?

[2016-08-11 14:14] iBrick commented on #61
Yes, you right, there's no problem in node creation here. Regarding DevAddr, at least in Loriot server they allow any DevAddr. And to me it seems that it is very convenient if you print on a sticker an addr of node and put it on sensor so that you may see which is sending data on gateway or server without connecting to it.

[2016-08-11 14:17] brocaar commented on #61
Wouldn't the `DevEUI` make more sense (this EUI is as well being used as identifier to the application)? Please note that after an OTAA, the device will get a new random `DevAddr`.

[2016-08-11 14:25] iBrick commented on #61
Agree, it is not a simple question. In my case we use only ABP as it is more secure and DevAddr is the only thing you see from gateway to understand who is the sender. Anyway it is not a bug and you may leave it or remove as you wish. For me it is easier if it is removed.

[2016-08-11 14:30] brocaar commented on #61
Making the `NetID` (and thus the `NwkID` prefix in the `DevAddr`) optional might be the best solution I think :-) I'll look into it. Mind if we close this issue and track the `DevAddr` issue in #56?

[2016-08-11 14:33] iBrick commented on #61
Agree =)

[2016-08-11 14:33] #61 closed

[2016-08-11 15:03] iBrick commented on #56
As you said they are overwrite each other without notice. And it look like this afterwards:
<img width="960" alt="2016-08-11" src="https://cloud.githubusercontent.com/assets/4927627/17593158/9d9b5cf8-5fed-11e6-8e0e-17120deaa22e.png">
<img width="960" alt="2016-08-11 8" src="https://cloud.githubusercontent.com/assets/4927627/17593160/a05b5da8-5fed-11e6-8df4-8f182ef7a37d.png">
<img width="960" alt="

[2016-08-11 15:42] brocaar commented on #56
Thanks for reporting this bug 👍 Will look into a fix!

[2016-08-11 18:09] JeffJam opened #62 "Loraserver failed to start?"
Hi! Per [your instructions](https://docs.loraserver.io/loraserver/getting-started/ ) I installed the loraserver version 0.10.0 on my Pi B running Ubuntu 16.04 LTS. When I go to launch the service with _sudo systemctl start loraserver_, the logs show:

Failed to start loraserver.

When I look at the syslog I see "loraserver.service: failed at step EXEC spawning /usr/local/bin/loraserver: Exec forma

[2016-08-11 18:16] JeffJam commented on #62
Yep, user error. I'd accidentally downloaded the wrong binary. Derp.

Closing issue with great shame.

[2016-08-11 18:16] #62 closed

[2016-08-11 18:26] brocaar commented on #60
The clients are connecting with an empty client id since you might want to run multiple instances of LoRa Server, so I think it is easier leaving it blank and let the broker generate a random id. I've checked and `CleanSession` is `true` by default, so that is not the reason of the rejection (in reaction to your original issue).

I haven't had the time yet to setup VerneMQ, but I can't reproduce y

[2016-08-11 18:35] brocaar commented on #60
Additionally, could you verify with for example MQTTLens that you're able to connect with your credentials (test with both an empty client id and setting a client id) and subscribe to for example `application/+/node/+/tx`?

[2016-08-12 05:37] Daniel-dk commented on #60
will do, I'll post those up later today

[2016-08-12 07:25] brocaar commented on #56
@iBrick your issue has been solved and released as `0.10.1` thanks for catching the bug :-)

[2016-08-12 07:49] iBrick commented on #56
Thank you very much for fixing!

I wanted to ask how do you build project. I'm new to Docker and what I do is build it with command 'docker-compose up --build'. It build the binary successfully but recipe for target 'server' fail. I can use the binary locally afterwards but it doesn't start inside Docker.
Looks like it doesn't start because of missing params in Makefile 'serve' target:
./build/lor

[2016-08-12 13:23] Daniel-dk commented on #60
All tests were performed with username and password login.

While setting the brokers "allow_anonymous" = true and "allow_multiple_session" false :

anon and !multiple_session : connect and subscribe with ID success
anon and !multiple_session : connect and subscribe without ID success
anon and !multiple_session : connect with duplicate ID failure ( switches between clients -disconnects one to allo

[2016-08-12 14:19] brocaar commented on #60
![image](https://cloud.githubusercontent.com/assets/165497/17625033/5afdb444-60a7-11e6-9f2e-bcf2793ea035.png) http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html

I think that is the source of the issue you're experiencing. Following the specs a broker doesn't have to support an empty `ClientId`, so probably it is better when I generate a random `ClientId` at the client (LoRa Server

[2016-08-13 05:01] mkurnadi commented on #49
Dear @brocaar, we still trying to test this. However we would like to know if lora-gateway-bridge need to be installed in the server or in the gateway ?

[2016-08-13 07:44] brocaar commented on #49
That is up to you to decide, both ways are possible. See also https://docs.loraserver.io/lora-gateway-bridge/getting-started/#strategies

[2016-08-14 02:44] k30r88 commented on #49
@brocaar we have successfully do data up (node -> server). We monitor the payload by subscribe to topic gateway/b827ebffffa39301/rx

{
  "rxInfo": {
    "mac": "b827ebffffa39301",
    "time": "0001-01-01T00:00:00Z",
    "timestamp": 3081371443,
    "frequency": 433500000,
    "channel": 0,
    "rfChain": 0,
    "crcStatus": 1,
    "codeRate": "4/5",
    "rssi": -88,
    "loRaSNR": -1,
    "size":

[2016-08-14 07:27] brocaar commented on #49
Hi @k30r88, LoRa Server doesn't have any knowledge about gateways. However, you should create an application and node in LoRa Server (web-interface or API). When configuring your node with the same `AppEUI`, `DevEUI` and `AppKey` you should be able to do an OTAA. Could you let me know if that works?

Receiving data: https://docs.loraserver.io/loraserver/receiving-data/
Sending data: https://docs.l

[2016-08-14 07:28] brocaar commented on #49
Hi @dashracer I'm looking forward to hear from you if you were be able to send any data from the server to the node and / or were able to perform an OTAA.

[2016-08-14 10:07] k30r88 commented on #49
@brocaar . I work together with @dashracer , Application have successfully received data on the server side :
![image](https://cloud.githubusercontent.com/assets/1296121/17648471/45177bf6-6241-11e6-950c-a1005226c04b.png)

However we test it using single channel device, frequency only at 4335000.
We will try to perform OTAA. Perhaps you can guide us some tips ?

[2016-08-14 10:14] brocaar commented on #49
@k30r88 ah great! Regarding OTAA, just provision your node with the `DevEUI`, `AppEUI` and `AppKey` and perform a `mac join otaa` (for the RN2483, this command might be different if you're using a different node). You should see a message on the `application/+/node/+/join` mqtt topic, and your node should be able to send uplink data afterwards.

[2016-08-15 03:17] yzk0281 commented on #55
ADR is quite useful for a more efficient LORAWAN.
But it seems to be a little bit complicated to realize it, I don't know if other open source LORASERVER already do the function, like TTN. Maybe we can get some useful experience from it.

[2016-08-18 05:47] jamiechard opened #66 "Need to delete Node Session when deleting Node"
During the deletion of a Node (in internal/api/node.go) can you also delete the Node Session as well please. Leaving the Node Session causes data clashes later if the Node is recreated for a different App.

Maybe add the following after line 226 of internal/api/node.go

 		return nil, grpc.Errorf(codes.Unauthenticated, "authentication failed: %s", err)
 	}

+	ns, err := storage.GetNodeSessionByDev

[2016-08-19 02:55] panyingyun opened #67 "How to deploy lora-gateway-bridge and loraserver as a cluster"
1.  now for demo test, we deploy  "lora-gateway-bridge"   "loraserver"  "mosquitto" "redis server" "PostgreSQL server" "http server"  in one server or different server
2.  But how to deploy a cluster network server maybe become a problem

    (1) when two or more loraserver subscribe "gateway/+/rx"  then message will be  duplicate process.
    (2) when two or more loraserver subscribe "application

[2016-08-19 07:54] brocaar commented on #51
I've merged your PR :-)

[2016-08-19 07:54] #51 closed

[2016-08-19 08:07] brocaar commented on #66
Good one, will implement. However, the above won't work since it is not given that a node-session exists for the given node. I'm now implementing a `DeleteNodeSessionIfExistsByDevEUI` function for this. As well it is better to hook this up to the `storage.DeleteNode` function :-)

[2016-08-19 08:20] brocaar commented on #66
Actually, this was already implemented, see: https://github.com/brocaar/loraserver/blob/master/internal/storage/node.go#L93

[2016-08-19 08:20] #66 closed

[2016-08-19 09:38] brocaar opened #68 "Decoupling "inventory" from LoRa Server (looking for feedback)"
I'm thinking about decoupling the "inventory" part from LoRa Server. I think this makes the whole setup more flexible, as it allows you to use a different data storage, data schema etc, different transports between the `lora-app-server` and the application receiving (and sending) payloads. Below a draft diagram:

![architecture draft](https://www.gliffy.com/go/publish/image/11010339/L.png)

This m

[2016-08-19 11:30] brocaar opened #69 "Support both RX1 and RX2"
I'm planning to support both RX1 and RX2. This will be a config option on the node and node-session.

[2016-08-19 11:49] brocaar commented on #14
I'm going to close this issue. For the management of rx1 / rx2, I've just opened a new issue to track the progress of this feature #69.

[2016-08-19 11:49] #14 closed

[2016-08-19 11:55] brocaar opened #70 "Which component is responsible for downlink duty-cycle management?"
For uplink, I think it is the responsibility of the node that it does not exceed its duty-cycle (e.g. for the EU ISM band). Which component should be responsible for downlink? Is this the network server, or is it the responsibility of the gateway (packet_forwarder)?

[2016-08-19 12:18] nestorayuso commented on #70
Is the network server responsability, but up to date none of the network servers implement it.

ADR, Transmit-Power-Control, downlink gateway election, RX1 or RX2 election, channel planning and downlink duty-cycle are highly coupled and I think must by implemented by the same module.

[2016-08-19 13:10] ivajloip commented on #70
I agree with @nestorayuso. In my mind, the gateway should return an error if the duty cycle will be exceeded (i.e. the network server is misbehaving), but I doubt that it's implemented.

[2016-08-19 17:05] xPrcek commented on #38
Loraserver compares fcnt from node with fcnt from server. And if node fcnt is smaller than server (but not vice versa), then ERRO[0249] occurs. Unfortunately, we have no info about this situation from message bus. The only way is inspect loraserver logs for this:

[code]

Storing the state of node inside the node is not right way, because payload from node might not come to loraserver, so fcnt on

[2016-08-19 17:24] brocaar commented on #38
Please note that `ERRO[0249]` is not an error code, but it means that the error occurred 249 seconds after you started LoRa Server 😉

Note that it is perfectly fine for the FCnt check when some frames get dropped (so never are received and / or processed by LoRa Server), as long is it doesn't exceed `MAX_FCNT_GAP`. However, when a node resets resulting in a `FCnt=0`, this is a problem, since LoRa

[2016-08-19 19:02] #69 closed

[2016-08-20 04:10] shmrymbd commented on #49
hi @k30r88 , can you share where is the file you make the changes to support 433? I need to start one similar for 919-928 range. Thanks.

[2016-08-20 07:02] brocaar commented on #49
@shmrymbd see this diff for the changes needed: https://github.com/brocaar/loraserver/compare/test_eu433?expand=1

Note that the band config lives here: https://github.com/brocaar/lorawan/tree/master/band

[2016-08-20 16:10] xPrcek commented on #68
Yes, it may be a good idea to move (optionally) authorization credits away from loraserver. From my point of view, we can use Radius or LDAP backend as "lora-app-server" and let redis cache credits. Radius is robust, but not for mio/s requests.

[2016-08-20 16:55] VirTERM commented on #68
That is actually very good idea

[2016-08-20 19:00] xPrcek commented on #38
Well, I believe we can handle this. Please note, for production, it is necessary to have info from message bus about this event with dev_eui, packet_fcnt and server_fcnt. Could you update the todo list, please?

[2016-08-21 14:57] ivajloip commented on #68
Talking about radius, [this](https://tools.ietf.org/html/draft-garcia-radext-radius-lorawan-00) might be interesting for some people. @arun1587 (one of the authors of this draft) created a prototype implementation (I am not sure if he will be able to share it publicly though).

[2016-08-21 16:42] arun1587 commented on #68
https://github.com/arun1587/radius/tree/lora-radius --> i have the prototype of the draft here (the server side).

[2016-08-21 20:09] brocaar commented on #68
Yes, with the decoupling, that will all be possible :-) I think for the sake of simplicity, I will provide a `lora-app-server` which has the same "inventory" functionality as the current LoRa Server (application / node / channels) and will use PostgreSQL. That way Radius will not be a requirement to get started with LoRa Server + it is easy to upgrade to the new structure (as the db table structur

[2016-08-21 23:11] xPrcek commented on #38
Feedback from node hardware developers: Storing state of fcount on the flash disk will consume undesirable more power and shrink flash disk. The "OTAA-way reset" is kind of dirty workraound for ABP. Unfortunately, we can't wait for LoRaWAN spec 1.1, any other ideas?

[2016-08-22 00:06] jamiechard commented on #66
Hi,

Thank-you for looking at this.

Can I ask if ABP is working with this change please. I dropped and then created a completely new “loraserver” DB, and flushed out Redis. However, when I try to configure a new ABP node though I get a Redis error.

Regards,

Jamie

From: Orne Brocaar [mailto:notifications@github.com]
Sent: Friday, 19 August 2016 6:20 PM
To: brocaar/loraserver <loraserver@noreply

[2016-08-22 12:54] glederer007 opened #72 "How to send data to the end nodes?"
If it is possible, please include an example on how to send data (payload) to the end nodes. If I am not mistaken, currently there is no example for sending data only for receiving it. Thanks!

[2016-08-22 12:55] brocaar commented on #72
Do you mean this? https://docs.loraserver.io/loraserver/sending-data/

[2016-08-22 13:29] glederer007 commented on #72
Unfortunately I have no experience with mosquitto. I understand what is needed to send packets to an end node, but what I miss is a sample mosquitto command like mosquitto_sub -t "application/0101010101010101/node/+/rx" -v you wrote for receiving packets.

[2016-08-22 15:51] brocaar commented on #67
You're right. Right now, each instance will receive the packet, but loraserver will de-duplicate the packets (as the same packet might be received by multiple gateways), so I would expect that the end-user will receive only one payload. However I realise now that the `gw_count` will be incorrect as this will be multiplied by the number of loraserver instances.

I'll look into this (please leave th

[2016-08-22 18:25] #72 closed

[2016-08-23 13:27] brocaar commented on #67
de-duplication for 2 & 3 are already handled by the backends (thus for downlink payloads and mac commands).

[2016-08-23 13:58] mruthk opened #73 "I want to know build the loraserver code- Can anyone guide me.?"
Could you please let me know the steps which need to be followed in order to Build this loraserver code in go language as I am not much familiar with Go language.

Please help. Thanks

[2016-08-24 07:23] panyingyun commented on #67
thanks, I found this message in github.com/brocaar/loraserver/internal/backend/application/backend.go
and github.com/brocaar/loraserver/internal/backend/controller/backend.go
"
        // Since with MQTT all subscribers will receive the downlink messages sent
	// by the application, the first loraserver receiving the message must lock it,
	// so that other instances can ignore the message.
	// As

[2016-08-25 20:14] glederer007 opened #74 "Problems on using username/password to access the MQTT broker/server"
I have the following setup:
1) A packet forwarder and the lora-gateway-bridge on a LORANK8 gateway,
2) The loraserver on a PC running Ubuntu 16.4,
3) An MQTT.fx client on another PC running Ubuntu 16.4.,
4) 3 pieces of Microchip RN2483 Technology Motes.
The configuration runs fine without problems, but I have a problem with the connection to the MQTT broker running under the loraserver. I have tri

[2016-08-26 05:25] Romaly opened #75 "Activation By Personalization"
Hi guys.
Very interesting project.
On digikey I bought rn2483 starter kit and MultiConnect Conduit, and now try to connect to yours loraserver, but have problem.
As I understand this loraserver has two type of node join to network: OTAA and ABP
I've download and install loraserver for Windows (0.11.0 release), also I've install all applications which need (MQTT, SQL, etc.)
At first sight all ok, b

[2016-08-26 06:31] brocaar commented on #75
This can be improved in the UI, but to ABP you have to fill in the node session fields :-)

[2016-08-26 06:32] brocaar commented on #73
Easiest way is to use `docker-compose`, e.g. `docker-compose run --rm loraserver bash`, that will setup the whole environment (in Docker) for you.

[2016-08-26 06:34] brocaar commented on #74
Seems to be an issue with you Mosquitto auth. configuration?

[2016-08-26 06:46] glederer007 commented on #74
@linux4life798 has given a detailed explanation on gitter of the problem and its solution. I will try it later this weekend. I installed loraserver on a "clean and new" installation of mosquitto that is using its default settings (i.e. no passwords, etc.).

[2016-08-30 05:45] jamiechard opened #76 "Change DevAddr for an existing (ABP) Node Session"
Hi. I want to manually change the DevAddr for an existing (ABP) Node Session. However, when I edit the existing ns (i.e. click on the Session / ABP button) and alter the DevAddr parameter (or alternatively click generate to do so) then I get the error "get node-session for DevAddr xxxxxxxx error: Redigo: nil returned" when I save changes. I assume this is because the new DevAddr is being used to s

[2016-08-30 10:04] siscia opened #77 "[UIX] Add option menu for application id in the new-node form."
When adding a new node it could be interesting to have an option menu for the application options.

In this way it will be simpler and faster to add nodes without making errors.

[2016-08-31 05:28] k4jt commented on #73
Basic steps for build loraserver

Create project directories
`$ mkdir -p network-server/src/github.com/brocaar/`
`$ cd network-server/`

Setup GOPATH env variable
`$ export GOPATH=$(pwd)`
Check that GOPATH shows current directory location
`$ echo $GOPATH`

Clone project
`$ cd src/github.com/brocaar/`
`$ git clone https://github.com/brocaar/loraserver.git`

Prepare for build
`$ cd loraserver/`
Edit

[2016-08-31 09:24] sopach commented on #55
Hello, by my opinion ADR should work as is described in LoRaWAN™ Specification chapter 4.3.1.1 Adaptive data rate control in frame header (ADR, ADRACKReq in FCtrl). Please when you plan implement this functionality ?  We are prepare to test it with you. We have now own full LoRaWan network with own 15 GW and with our own developped nodes base on RFM95 with LMIC 1.5.

[2016-08-31 11:19] Romaly commented on #75
Thanks, I has understood how do it!

[2016-09-01 06:46] julien-ioic opened #78 "Choosing the right gateway on Join or Confirm"
Hi,

I created a small lorawan network with 3 gateways.
Thanks a lot for this great job!!
I see a recurent problem on the server response when the message are caught by multiple gateways.

How is done the choice between the severals gateways ?
I think the better way is to select the gateway with the better SNR (the closest).

In the file join_request_accept.go.

line 190 : if err = ctx.Gateway.Sen

[2016-09-01 06:58] yzk0281 commented on #78
"How is done the choice between the severals gateways ?
I think the better way is to select the gateway with the better SNR (the closest)."

Hi, Julien from the beautiful island, I think loraserver currently already handle this problem:
in uplink_data.go call a func named collectAndCallOnce,
and check this collectAndCallOnce in packet.go

‘ctx.Gateway’ is in loraserver/internal/loraserver/gateway/

[2016-09-01 07:54] julien-ioic commented on #78
ok, I found it on loraserver/internal/loraserver/packet.go.

rxPackets implements the Sort Interface.
using RSSI

func (p RXPackets) Less(i, j int) bool {
	return p[i].RXInfo.RSSI > p[j].RXInfo.RSSI
}

In my log, SNR seems much accurate.

thanks.

[2016-09-01 12:37] tftelkamp commented on #78
I'd agree that SNR is more relevant than RSSI.

However, SNR easily saturates for positive values, and then you don't see differences between the gateways: they're all good.

So maybe consider an algorithm like:

 - select highest SNR
 - if SNR > 5 then select highest RSSI from all gateways with SNR > 5

The threshold (5) we could tune.

[2016-09-03 09:10] brocaar commented on #77
I agree the ui could get some more love :-) Please note that for now, it is just a thin JS layer on top of the API just so you don't have to use REST client to get up and running. Making a better ui is on my backlog, but for now I'd like to focus on #68 and #55 and maybe #31. When #68 is in place, it means you can use whatever backend you wish for managing your inventory etc...

[2016-09-03 09:16] brocaar commented on #78
Thanks guys for your input! I won't fix this directly, as I'd love to get #68 out asap (it will involve a lot of code changes + changes in the api), but when it is better to use the `SNR` (combined with `RSSI`) instead of just `RSSI`, then I'm more than happy to change is :-)

[2016-09-03 09:19] brocaar commented on #76
Hi! This is a feature that isn't exposed in the web-interface (yet), but you can do this through the API. See `/api/v1` for all the API methods.

[2016-09-03 09:19] #76 closed

[2016-09-03 09:19] #75 closed

[2016-09-03 09:19] #74 closed

[2016-09-03 09:22] #70 closed

[2016-09-03 09:23] #54 closed

[2016-09-03 09:41] brocaar commented on #68
All the otaa / uplink and downlink tests are working again after a big refactor (see https://github.com/brocaar/loraserver/tree/app_server_refactor/internal/testsuite for the testcases). There is still a lot to do, as the rest is still failing and I haven't started yet on `lora-app-server`.

You can find the first definition of the apis for each component here (look at the `.proto` files): https:/

[2016-09-04 10:47] brocaar commented on #56
After #68 I'll look into changing the way how the `DevAddr` is matched against the `DevEUI`. I'm thinking about changing the `DevAddr` related Redis key into a set of `DevEUI` items and then storing the actual node-session date in a `DevEUI` related Redis key.

[2016-09-04 11:12] nestorayuso commented on #56
I think this can help
http://portal.lora-alliance.org/DesktopModules/Inventures_Document/FileDownload.aspx?ContentID=1302

[2016-09-04 11:52] brocaar commented on #56
Thanks! Given
![image](https://cloud.githubusercontent.com/assets/165497/18230800/a7980082-72a6-11e6-8ced-6a3f37b2f2e8.png) I think supporting multiple `DevEUI`s on a single `DevAddr` is the way to go.

[2016-09-04 18:18] brocaar commented on #55
@sopach I think the challenges are more in what should trigger a data-rate change, e.g. below which SNR / RSSI should the network-controller ask the node to change its data-rate. As well the margins, you don't want the network-controller to constantly change the data-rate up and down.

[2016-09-05 10:53] siscia commented on #68
I am a little concerned about the use of gRPC, especially for communicating with the lora-app-server that is suppose to maintain the inventory (why could simply use GET request), handles join request (simple POST) and think about crypt (here gRPC sound more appropriate, however a little lonely).

Similarly between the lora-controller and the loraserver, why do we use a more standard REST interface

[2016-09-05 18:25] brocaar commented on #68
Hi @siscia thanks for your feedback! There are a couple of reasons I think gRPC is a good choice:

I wouldn't say REST interfaces are more standardised, but they are more accessible / open. E.g. the transport is just plain text instead of a binary protocol so it is easier to debug. My problem with REST interfaces is that you need a proper framework or else you have to be really good at documentati

[2016-09-06 05:23] andriyadi opened #79 "AppKey, AppsKey, NwksKey"
Sorry for my basic questions.
Is there anyway I can  generate those keys? What are the rules?

Thanks.

[2016-09-06 05:28] JiapengLi commented on #79
From my opinion, 128bits and the more random the better.

[2016-09-08 07:17] leotseng1977 opened #80 "Network Controller - Sending Mac Commands"
hi, brocaar,

Now it's working fine to use mosquitto_sub/mosquitto_pub to send/get rx/tx data followed by your loraserver document :smile: thx a LOT.

And then I want to try mac command, could you guide me what value I need to fill in macCommand field?

e.g. To send 'DevStatusReq' so I sent **mosquitto_pub -t 'application/0000000000000000/node/363730364192a679/mac/tx' -m '{"reference":"abcd1234","

[2016-09-08 07:45] nestorayuso commented on #55
Please consider RSSI / SNR / demodulation margin values in average of the latest 10-25 uplink messages (10-25 or since the last  LinkCheckReq MAC command). If in the latest 10-25 messages some of them were lost, the algoritm should take into account to select a lower the data rate.
And uplink TX power control can be done too to fine tune the link marging and increase overall capacity, although at

[2016-09-09 03:23] leotseng1977 commented on #80
hi, all,
I found how it works and I have to admit I misunderstood what mac command filed means...
"06" are characters so their hex data are 0x30 & 0x31 from ASCII table, so I should produce a binary file only contains 0x06 hex value. And then use some tool like this website providing "http://www.motobit.com/util/base64-decoder-encoder.asp"

So the base64 format of binary data 0x06 is "Bg==" instea

[2016-09-09 03:23] #80 closed

[2016-09-10 00:29] wolftrax5 commented on #33
hi @comet-bg  what was the error on loraserver.conf file? ;
because i have the same problem but i can't fixed with the other tips
<img width="802" alt="captura de pantalla 2016-09-09 a las 7 27 13 p m" src="https://cloud.githubusercontent.com/assets/5388080/18406528/ab595f7e-76c3-11e6-8c73-8aca2ffcde8f.png">

[2016-09-10 10:55] brocaar commented on #33
@wolftrax5 note that when you start `loraserver` from the commandline directly (thus not using systemd), the systemd (`/etc/systemd/system/loraserver.service.d/loraserver.conf`) configuration won't be applied.

[2016-09-12 01:16] yzk0281 commented on #31
Hi, @brocaar
How is this feature supporting class B now?
urgent to know~

[2016-09-12 05:11] andriyadi commented on #79
I did try that and it seems to work so far. Thanks @JiapengLi !

[2016-09-12 09:33] yzk0281 commented on #67
My opinion:
Multiple loraserver can sub/pub to different "gateway/+/rx"  like we can have 16 loraservers sub/pub to "gateway/+0/rx"  "gateway/+1/rx"  "gateway/+2/rx"  ....   "gateway/+f/rx"
thus each loraserver will only handle 1/16 of the burden, maybe this is a optional way to load-balance for loraserver
Brocaar's  idea of lora-gateway-bridge is right~
Decoupling mentioned in #68 is necessary. I

[2016-09-12 12:35] siscia opened #82 "Lorawan, dependecies, vendoring issues."
In a custom script I need both the dependencies: `github.com/brocaar/loraserver/model` and `github.com/brocaar/lorawan/`

Unfortunately it seems like it is not possible.

If I try to import `github.com/brocaar/lorawan` I get this import error:
```./CS.go:258: cannot use devEUI (type "github.com/brocaar/loraserver/vendor/github.com/brocaar/lorawan".EUI64) as type "github.com/brocaar/lorawan".EUI64

[2016-09-12 13:06] siscia commented on #82
Issues that can be easily solved mooving the script I am compiling into the GOPATH and using govendor.

Sorry for the noise.

[2016-09-12 13:06] #82 closed

[2016-09-15 12:59] sopach commented on #30
Hi, is it possible send MAC command in FOpts together with message in FRMPayload ?

[2016-09-15 14:38] sopach opened #83 "Reference to mac/rx"
Hi is it possible to add Reference to json data in topic application/[AppEUI]/node/[DevEUI]/mac/rx ?

[2016-09-15 14:39] #83 closed

[2016-09-17 13:26] #79 closed

[2016-09-17 13:35] brocaar commented on #68
Just a quick update on the progress (from the outside it might seem that this issue takes ages to complete)! The [loraserver](https://github.com/brocaar/loraserver/tree/app_server_refactor) refactor is as good as complete (there might be some really small API changes). I'm now working on the last [lora-app-server](https://github.com/brocaar/lora-app-server) backend bits. When that has been done, I

[2016-09-18 04:02] erfantaherkhani commented on #73
@k4jt  I've already followed your instruction, but in the last part when i run "make build" it refers some error:
 $ make build
/usr/local/go/bin/go: 1: /usr/local/go/bin/go: ELF: not found
/usr/local/go/bin/go: 2: /usr/local/go/bin/go: Syntax error: word unexpected (expecting ")")
Compiling source for linux amd64
/usr/local/go/bin/go: 1: /usr/local/go/bin/go: ELF: not found
/usr/local/g

[2016-09-18 18:52] k4jt commented on #73
Hi, @erfantaherkhani
I'm not sure what's the reason of these errors, can you tell what operation system are you using and what kind 32-bit or 64-bit? you can check it with:
$ uname -a
then check what is bit version of golang compiler:
$ cd /usr/local/go/bin
$ file go
or just
$ go version
if  Golang compiler you installed does not match your os/architecture, you can try to get another archive from

[2016-09-18 19:55] erfantaherkhani commented on #73
@k4jt thanks for your inspiring answer, i think the problem is about go archive, i'll try it.

[2016-09-19 11:45] siscia opened #84 "Dockerfile incomplete ?"
Hi,

I was re-deploying loraserver and it looks to me like the Dockerfile is incomplete.

From this commit: https://github.com/brocaar/loraserver/commit/21361d3ee5ffc6f8c925376a26e0c1d9e9335621#diff-3254677a7917c6c01f55212f86c57fbfL16
we don't add anymore the source code inside the docker container.

Am I missing something?

Cheers

Simone

[2016-09-19 11:55] brocaar commented on #84
Hi Simone,

Maybe I should add a comment, but the Dockerfile is not for deployments, I
use it for development and testing (running the tests).
For deployments, I would recommend to package a pre-compiled binary as a
Docker container as there is no need to ship a full Go development
environment + all the development requirements (e.g. protobuf).

On Mon, Sep 19, 2016 at 1:45 PM Mosciatti S. <notifi

[2016-09-19 12:49] siscia commented on #84
Hi :)

yeah you are completely right... However is just too easy to simply use it

No problem thought

[2016-09-21 03:24] Romaly opened #85 "Incorrect readings gateways counter"
Hi

I vave only one gateway, but sometimes the server thinking that several :)
(dev_eui=1a2b3c4d07000001 gw_count=3 gw_macs="008000000000b888, 008000000000b888, 008000000000b888")

Logs:

Sep 20 18:49:17 ubuntu-server loraserver[4093]: time="2016-09-20T18:49:17+06:00" level=info msg="starting LoRa Server" band="EU_863_870" docs="https://docs.loraserver.io/" net_id=010203 version=0.11.0

..........

[2016-09-23 08:08] #84 closed

[2016-09-24 11:20] brocaar commented on #85
Are you running multiple instances of LoRa Server?

[2016-09-24 11:21] #77 closed

[2016-09-25 16:19] brocaar commented on #68
And LoRa Server 0.12.0 and LoRa App Server 0.1.0 are out :-) Please see the changelogs for upgrade information + https://docs.loraserver.io/lora-app-server/ for LoRa App Server documentation.

Looking forward to your feedback (and bugreports 😁)!

[2016-09-25 16:19] #68 closed

[2016-09-25 19:07] brocaar commented on #85
In case you're running multiple LoRa Server instances, each of them is adding the payload to the buffer which might result in what you describe. Will look into it.

[2016-09-26 11:02] drhexium opened #86 "Connection issue"
I am trying to run ver 0.12.0 but I am getting the following error:

Sep 26 13:49:36 saide-gtw loraserver[1437]: time="2016-09-26T13:49:36+03:00" level=info msg="grpc: addrConn.resetTransport failed to create client transport: connection error: desc = \"transport: dial tcp 127.0.0.1:8001: getsockopt: connection refused\"; Reconnecting to {\"127.0.0.1:8001\" <nil>}"

For information, I run this on

[2016-09-26 11:05] brocaar commented on #86
That is because you need to start the lora-app-server too (which is running
by default on port 8001). Please see the changelog for instructions to
migrate from 0.11 to 0.12 as it describes how you can migrate your data and
node-sessions.

On Mon, Sep 26, 2016 at 1:02 PM drhexium <notifications@github.com> wrote:

[2016-09-26 11:27] drhexium commented on #86
Brocaar,
Thanks for the immediate response. I have now started lora-app-server and I am getting the following error:
Sep 26 14:20:06 saide-gtw lora-app-server[1750]: time="2016-09-26T14:20:06+03:00" level=info msg="grpc: addrConn.resetTransport failed to create client transport: connection error: desc = \"transport: dial tcp 127.0.0.1:8000: getsockopt: connection refused\"; Reconnecting to {\"127.

[2016-09-26 11:42] brocaar commented on #86
That is the other way around, the lora-app-server trying to connect to
loraserver. Please note that you can't avoid these errors as it is kind of
a chicken egg problem. However it will try to re-connect and these error
should stop as soon as both services are connected to each other.

On Mon, Sep 26, 2016 at 1:27 PM drhexium <notifications@github.com> wrote:

[2016-09-26 11:51] drhexium commented on #86
Actually, I do not see these errors ever stopping even after both services have started.

Some of the errors that I am getting:

Sep 26 14:46:56 saide-gtw lora-app-server[2749]: time="2016-09-26T14:46:56+03:00" level=info msg="grpc: addrConn.resetTransport failed to create client transport: connection error: desc = \"transport: dial tcp [::1]:8080: getsockopt: connection refused\"; Reconnecting to

[2016-09-26 11:54] brocaar commented on #86
Ignore the 8080 error (this is an internal connection error which only
happens at startup and is automatically resolved, basically the REST api
can't connect internally to the gRPC server). You're almost there, try to
point your browser to https://serveraddress:8080/. (note the https).

On Mon, Sep 26, 2016 at 1:51 PM drhexium <notifications@github.com> wrote:

[2016-09-26 12:20] drhexium commented on #86
It worked! Thanks!!!!

Just one (hopefully) final question: - How can I check the incoming data? I cannot find the "Transmitting/Receiving Data" sections on the updated documentation. Could you point to the right direction?

Thanks again!

[2016-09-26 12:21] brocaar commented on #86
Great! See https://docs.loraserver.io/lora-app-server/mqtt-topics/

On Mon, Sep 26, 2016 at 2:20 PM drhexium <notifications@github.com> wrote:

[2016-09-26 12:22] drhexium commented on #86
Excellent! Keep up the good work! Thanks

[2016-09-26 12:22] #86 closed

[2016-09-28 14:38] kruisdraad commented on #38
For testing it would be really handy to have the 'relax frame counter' option to be enabled to ignore the frame count

[2016-09-28 18:45] #85 closed

[2016-09-28 18:47] brocaar commented on #67
The de-duplication of gateway data is fixed in 0f9541b1fe0a81bfc553531876e9f9f3a2c2bf0d, so with 0.12.1, the `gw_count` should be correct when running multiple LoRa Server instances.

[2016-09-28 18:47] #67 closed

[2016-09-28 18:51] brocaar commented on #56
I forgot to update this issue after the 0.12.0 release:

please note that the node-session api since 0.12.0 now uses the `DevEUI` as session identifier. This doesn't resolve this issue, but see it as pre-work for implementing node-sessions by `DevEUI` instead of `DevAddr` (making it possible to handle duplicated `DevAddr` in the database).

[2016-09-28 18:54] brocaar commented on #49
@k30r88 @dashracer could you please tell us if both the uplink and downlink is working with this config? Would be great it we finally can merge this band :-)

[2016-09-28 18:56] #45 closed

[2016-09-28 18:57] brocaar commented on #42
@panyingyun looking forward to your downlink test results. Did you manage to get it working? Would be great if we can add this band to LoRa Server :-)

[2016-09-29 02:04] panyingyun commented on #42
@brocaar  You can add this band to LoRa Server now. We test all send or receive data OK(uplink /downlink /OTAA/ABP).

[2016-09-29 09:13] john-bigz opened #87 "LoRaServer would send 'UnconfirmedDataDown' when a 'UnconfirmedDataUp' was received."
I wonder if it would send 'UnconfirmedDataDown' when LoRaServer received a 'UnconfirmedDataUp'.
looking at the code below: ( [loraserver/internal/downlink/data.go)](https://github.com/brocaar/loraserver/blob/master/internal/downlink/data.go#L200)
[code]
the modified code as below:
[code]

[2016-09-29 09:38] brocaar commented on #87
I think the current code is correct?

The reason is that an `UnconfirmedDataUp` doesn't need an `ACK`, thus when there is nothing to send back (`txPayload=nil` **and** `len(macCommands)=0`), we return. So all conditions must match.

When an `ConfirmedDataUp` is received, LoRa Server always needs to respond since it needs to `ACK` the received frame.

[2016-09-29 10:08] ivajloip commented on #87
I also think that the current implementation is correct. Even if the message is unconfirmed, we might still want to reply if there is a pending dataDown packet (which is not possible with the suggested modification).

[2016-09-29 11:56] john-bigz commented on #87
Yes, I made a mistake, the server still need to send pending data-down packets when it receives data-up packet, even if the data-up packet is an unconfirmedDataUp packet.

[2016-09-29 11:58] brocaar commented on #87
No worries :-) Thanks for reviewing the code! If you find any other issues
or have any doubts or questions, please let me know.

On Thu, Sep 29, 2016 at 1:56 PM john-bigz <notifications@github.com> wrote:

[2016-09-29 18:30] brocaar commented on #42
Nice! Thanks for testing :-)On 29 Sep 2016, at 04:04, Michael Pan <notifications@github.com> wrote:@brocaar  You can add this band to LoRa Server now. We test all send or receive data OK(uplink /downlink /OTAA/ABP). —You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

{"api_version":"1.0","publisher":{"api_key":"05dde50f1d1a384dd7

[2016-09-30 00:52] k30r88 commented on #49
@brocaar uplink seems to be working, we will try downlink next week. Do you have any suggestion on how to do downlink test ? Is downlink similar to OTAA ?

[2016-09-30 06:57] brocaar commented on #49
Downlink is sending data to your node :-) But if you managed to get OTAA
working, you already sent a downlink payload to your node (in this case not
data but a join-accept message).

On Fri, Sep 30, 2016, 02:52 k30r88 <notifications@github.com> wrote:

[2016-09-30 08:14] #87 closed

[2016-09-30 18:20] #42 closed

[2016-09-30 18:26] brocaar commented on #42
This band will be included in the next release (0.12.2).

[2016-10-01 09:22] brocaar commented on #78
@tftelkamp @julien-ioic so then the sorting becomes something like:

[code]

Where `maxSNRForSort=5.0` for now.

[2016-10-01 10:22] brocaar commented on #78
Please see https://github.com/brocaar/loraserver/pull/88/files#diff-66307ebee4b6e63f8bc96622a5b96ccd. Looking forward to your feedback so I can merge it and put it in the next release :-)

[2016-10-04 17:51] brocaar commented on #78
This has been implemented in the 0.12.2 release. Looking forward to your feedback! Thanks again for your feedback :-)

[2016-10-04 17:51] #78 closed

[2016-10-05 17:43] brocaar commented on #38
As it stays a popular question, I'll implement an optional relaxt frame-counter mode :-)

The LoRa Server part has already been implemented in https://github.com/brocaar/loraserver/commit/3333fbb97f5ef796eb423b24f53a9bf081f5c9ca. The ui part is still todo.

[2016-10-05 19:04] #38 closed

[2016-10-05 19:14] brocaar commented on #38
Please upgrade to LoRa Server 0.12.3 and LoRa App Server 0.1.2 and you'll see the relax frame-counter option in the node form :-)

![image](https://cloud.githubusercontent.com/assets/165497/19127753/ab0f6c2a-8b40-11e6-88b8-3ec35c334c54.png)

[2016-10-09 10:47] siscia opened #89 "Strip binaries for release"
It seems to me (I could be wrong) that the binaries are not stripped when released.

Stripping comes with some tradeoff, but it is usually well worthed in the release.

The loraserver goes from 16MB to 9.2MB when stripped -> +40% reduction
Similarly the lora-app-server.

To strip the binaries is sufficient to add "-w -s" to the -ldflags.

[2016-10-10 08:39] hecko commented on #73
Hi Everyone, the

`make build`

yelds the following for me

`
root@loraserver:~/network-server/src/github.com/brocaar/loraserver# make build
Compiling source for linux amd64
internal/uplink/data.go:4:2: cannot find package "context" in any of:
        /root/network-server/src/github.com/brocaar/loraserver/vendor/context (vendor tree)
        /usr/lib/go-1.6/src/context (from $GOROOT)
        /root

[2016-10-10 08:54] k4jt commented on #73
Hi, @hecko !
Maybe problem that you use golang version 1.6, try to install 1.7

[2016-10-10 10:14] hecko commented on #73
@k4jt thats it! Thanks!

[2016-10-12 14:46] NICOLASGON opened #90 "DevEUI in capital letters"
Hello,

When i do a moquitto_pub with the payload DevEUI and the topic DevEUI both in capital letters here is the error message :

lora-app-server[22155]: time="2016-10-12T16:01:11+02:00" level=warning msg="handler/mqtt: topic DevEUI must match payload DevEUI" payload_dev_eui=396b7b2800000002 topic_dev_eui=396B7B2800000002

Is it a bug ?
Sincerely yours,

[2016-10-12 19:30] brocaar commented on #90
Hi @NICOLASGON, this might be something to add to the documentation, as MQTT topics are case-sensitive and currently lowercase is being used everywhere.

[2016-10-12 19:33] brocaar commented on #73
@k4jt and @hecko, I've added a short note to the README. @k4jt 1.6 works too, but you have to enable vendoring (see: https://blog.gopheracademy.com/advent-2015/vendor-folder/). This is enabled by default in 1.7.

[2016-10-13 10:59] iBrick opened #91 "Server->Sensor send with ACK forever"
I've found that when I send downlink message from server to sensor with ACK request this request never comes to the server and thus server never stops to try and send it again and again.
I'm not yet sure about does sensor really send ACK or not, but with Microchip RN2483 module (which has certified LoRaWAN stack on it, I have it on LoRaMote device with display and buttons) I receive downlink messa

[2016-10-13 13:45] brocaar commented on #91
I'm unable to reproduce the issue with these steps:

1. I created a downlink payload
2. I sent an uplink payload and received the downlink payload
3. The downlink payload is now marked as `pending=true` in the db
4. After sending a second uplink payload, the downlink payload is removed from the queue

app server logs:

[code]

MQTT:

[code]

[2016-10-13 20:21] iBrick commented on #91
I rechecked again. You're right, it works fine. My fault, sorry.

From logs of Lora-app-server:
1) after 1st message for which downlink is performed

Oct 13 17:10:43 innolabsGw lora-app-server[630]: time="2016-10-13T17:10:43-03:00" level=info msg="handler/mqtt: publishing data-up payload" topic="application/0000000000011111/node/0139afcf0139afcf
/rx"
Oct 13 17:10:44 innolabsGw lora-app-server[630]

[2016-10-13 20:21] #91 closed

[2016-10-14 04:23] wolftrax5 commented on #73
will be the same steps for [lora-app-server](https://docs.loraserver.io/lora-app-server/) ?

[2016-10-18 05:20] julien-ioic commented on #78
hi,

sorry for the delay.
It seems to be perfect.
I'll check it soonly.

thanks a lot

[2016-10-22 10:01] gillespilloudwyres commented on #31
I'm interrested by this feature toi. Especially by the beaconning useful to synchronize devices.

[2016-10-25 17:45] fcolumbu opened #92 "LoRaWAN server minimum footprint"
How small a footprint can the brocaar LoRaWAN server fit in with all dependent components included?

I see that your server uses 3.62 MB in the case of  loraserver_0.12.3_linux_amd64.tar.gz but then I would also need  Mosquito and Redis and its dependencies but would like to understand what to expect  with the total footprint. How much RAM should I plan for as well?

Has anyone created a Docker im

[2016-10-25 21:20] ivajloip commented on #92
Hi,

We ([Acklio](http://www.ackl.io/)) are building a solution for LoRaWAN based on this project. We have tested our software on ARM and x86 equipment and it seems to need less than 128 MB RAM and the size of the executables is around 35 MB. If you have Docker anyway on your system, the size can be slightly reduced. To achieve this we use linux Alpine and musl, so we are sure our modified version

[2016-10-25 21:49] ivajloip commented on #92
BTW in connection to this, you might want to check our docker hub repositories [here](https://hub.docker.com/u/acklio/dashboard/). If you want, I think I will be able to give you the *Dockerfiles* for the images there.

[2016-10-27 11:12] panyingyun opened #93 "Geolocation solution adds GPS-free tracking capability to LoRaWAN™ networks."
Is anyone Who use TODA. Try to calc geolocation by three or more  uplink data provide by gateway.

Some refference videos and web links here:
https://www.youtube.com/watch?v=l1GmBP2zMhU
https://github.com/StevenJL/tdoa_localization/blob/master/TDOAShell.m
https://en.wikipedia.org/wiki/Multilateration

[2016-10-27 11:25] nestorayuso commented on #93
To use TDOA you need high precition timestamping
A 1st generation LoRa gateway with GPS and PPS output doen not have enough precission.
Semtech designed a 2nd generation gateway with FPGA to calculate better time stamps. The problem is the timestamping metadata is encrypted inside the gateway and you must pay a fee to semtech to desencrypt it. Semtech offer a free simple geolocation solver based o

[2016-10-31 06:43] dashracer opened #94 "How to decode Lorawan Payload?"
Hi @brocaar ,

How to decode node payload if we know all the keys?

Thanks.

[2016-11-02 10:57] andrepferreira opened #95 "Possible to add the frame count and SNR to the output json meta data?"
Is it possible to add the frame count and SNR value to the devEUI structure? It is useful to monitor the state of some of the sensors (restarts etc) and it would be useful to have it in the incoming json. But, I'm not sure if this is in line with the standard.

Something like this:

{"devEUI":"0000000079250001","time":"2016-10-16T20:10:08.202462Z","fPort":1,"gwCount":1,"rssi":-35, **"snr":9.2**, *

[2016-11-02 12:07] TimelessNL commented on #95
+1

[2016-11-09 08:57] a-farooq commented on #73
same step for lora-aap-server too.

[2016-11-11 10:38] glederer007 commented on #95
Hello andrepferreira and TimelessNL,

I had a similar comment, but I needed only the fcntup value. To have the fcntup value in the JSON structure needs a very simple modification; you have to modify the mqtt_handler.go and the application_server.go files in **_lora-app-server_**. I attached two screenshots about where to put the modification (not the modification itself!).

1) The mqtt_handler. go

[2016-11-11 17:45] vspherei opened #96 "LoRa App Server does not start."
The log file is as follow:

Nov 11 18:36:51 AppServer systemd[1]: lora-app-server.service: Unit entered failed state.
Nov 11 18:36:51 AppServer systemd[1]: lora-app-server.service: Failed with result 'exit-code'.
Nov 11 18:36:51 AppServer systemd[1]: lora-app-server.service: Service hold-off time over, scheduling restart.
Nov 11 18:36:51 AppServer systemd[1]: Stopped lora-app-server.
Nov 11 18:36:

[2016-11-11 20:28] glederer007 commented on #96
Hello vspherei,

This happened to me when I accidentally downloaded the wrong version of the lora-app-server (linux_386 version instead of linux-arm). Sorry for the question, but are you sure you are using the correct binary version?

[2016-11-11 20:31] vspherei commented on #96
Yes, you are right. I followed the steps again and it works right now.

[2016-11-11 20:31] #96 closed

[2016-11-13 09:03] brocaar commented on #31
@yzk0281 @gillespilloudwyres sorry for my late response, I was on vacation. Before my vacation I've been looking at class-b support. As the specs are still experimental and unstable and are likely to change in the LoRaWAN v1.1, I think it is better to wait a bit (during my testing I found out that the beacon format of the packet_forwarder was different than how the lmic firmware was expecting it).

[2016-11-13 09:41] brocaar commented on #92
@fcolumbu

I’m not able to directly answer your question, but to give you a few hints what might increase the memory footprint (I haven’t done any benchmarking on this yet):

LoRa Server:
Stores received packets in Redis for de-duplication (short expiration)
Stores node-sessions in Redis (long expiration)
Stores enqueued mac-commands in Redis (long expiration)
Each received packet is dispatched by

[2016-11-13 09:56] brocaar commented on #94
This is handled by https://github.com/brocaar/lora-app-server (see also https://docs.loraserver.io/lora-app-server/features/), which uses https://godoc.org/github.com/brocaar/lorawan#EncryptFRMPayload for decryption.

[2016-11-13 09:56] #94 closed

[2016-11-14 06:35] JiapengLi commented on #94
@dashracer  if you just want to decode LoRaWAN frame for single node, could also refer this tool https://github.com/jiapengli/lorawan-parser

[2016-11-14 17:08] #73 closed

[2016-11-14 17:10] brocaar commented on #73
I've updated the docs, hopefully this help https://github.com/brocaar/loraserver/commit/7855dcfb8736861e3e81ecd93d2d7fee1a104b14. I'll update the docs of the other projects too.

[2016-11-15 02:01] lancezhangsf opened #97 "getsockopt: connection refused"; Reconnecting to {"127.0.0.1:8001" <nil>}"
hi, brocaar,
i run the loraserver, but some error happen,as f
root@zhangsf-virtual-machine:/opt/loraserver/bin# ./loraserver  --net-id 010203  --band CN_470_510
INFO[0000] starting LoRa Server                          band=CN_470_510 docs=https://docs.loraserver.io/ net_id=010203 version=0.12.3
INFO[0000] setup redis connection pool                   url=redis://localhost:6379
INFO[0000] backend/g

[2016-11-15 09:10] glederer007 commented on #97
Hello lancezhangsf,

Currently the loraserver runs only when lora-app-server is running as well. Have you checked the FAQ of loraserver and lora-app-server?

https://docs.loraserver.io/loraserver/frequently-asked-questions/

https://docs.loraserver.io/lora-app-server/frequently-asked-questions/

Regards,

[2016-11-16 09:14] lancezhangsf commented on #97
hi  brocaar:
thank you very much for your answer,i can rcv the data from gw, and loraserver show the data,but app-server can't show the data ,the log show some error,    i user eu_433,but some other errors happen ,

11月 16 17:13:41 zhangsf-virtual-machine lora-app-server[13886]: time="2016-11-16T17:13:41+08:00" level=info msg="grpc: addrConn.resetTransport failed to create client transport: connec

[2016-11-16 09:37] mariopraga opened #98 "ACK not working"
Software I use:   ESP-1ch-Gateway-v3.0  + Lora-gateway-bridge + Loraserver + Lora_app_server

The problem:  When sending confirmed messages uplinks or downlinks the gateway freezes. It seems freezing at a **setFreq using:**   step.

**TTN:**  Below the correct ACK message received from TTN network

[code]

[code]

**Lora-gateway-bridge + Loraserver + Lora_app_server**  - ACK do not work

MQTT : lo

[2016-11-16 12:55] ymkins commented on #73
There is [PR99](https://github.com/brocaar/loraserver/pull/99) with Vagrantfile for quick start.

[2016-11-17 10:03] lancezhangsf commented on #97
Hi，i  have resolve the problem,   in the branch test_eu433 :
 file :band_eu433.go
 not find func:   getRX1FrequencyFunc.

i  hope that it can be update.

[2016-11-17 13:25] frederikvannieuwenborg opened #100 "Make node-session TTL configurable / don't expire for ABP nodes"

[2016-11-17 21:27] hecko commented on #73
Hete are the docker-compose sources for the full env install:

https://github.com/hecko/brocaar-lorawan-docker

run like so:
`git clone https://github.com/hecko/brocaar-lorawan-docker.git`
`docker-compose up --build --force-recreate --abort-on-container-exit --remove-orphans`

FYI - uses the master version from git and data are not persistent

[2016-11-19 20:26] brocaar commented on #98
Hi @mariopraga

Given the gateway freezes, it seems there is a bug in the gateway software. If might be caused by a bad transmission request, but then it should be rejected (with some informational logging), not crashing your gateway.

One interesting difference I notice is that the package has been received at a freq of `868.099975` Mhz. TTN truncates this to `868.099` Mhz (thus `868099000` Hz) f

[2016-11-19 20:31] brocaar commented on #97
@lancezhangsf I don't see why you would need the `eu433` config as it seems you're on the `CN 470-510` ISM band. Therefore I recommend you to use the pre-compiled binaries. As @glederer007 mentioned, your initial error is caused by the fact that both services need to communicate with each other.

[2016-11-19 20:33] brocaar commented on #95
I'll look into this asap. I agree this is helpful information to have in the JSON data.

[2016-11-19 20:36] brocaar commented on #89
Hi @siscia I'll look into it to see if there is any negative impact. For now this hasn't been an issue as usually a few more megabytes isn't an issue, but if there is no impact, then I don't see a reason why we shouldn't strip the binaries :-)

[2016-11-19 20:53] hecko commented on #95
+1
Although I would love to see the rssi information also tied with the gateway mac to get some sense of the rssi information (and possibly snr in the future).

[2016-11-20 10:08] hecko commented on #92
To add to @brocaar 's response - I have mande docker-compose images for the complete testing environment here:

https://github.com/hecko/brocaar-lorawan-docker

We are running the installation on the cheapest Linode virtual server without any performance bottlenecks so far.

[2016-11-20 10:11] hecko commented on #55
+1 for ADR support

[2016-11-20 10:17] brocaar commented on #55
Don’t worry, it will be there hopefully soon (as in weeks). The reason I didn’t start on it yet was because I did not know the best approach for ADR (the concept is simple, but getting the parameters right is important). The past weeks I’ve been asking many people about this and got some great feedback. I will start soon on this.

[2016-11-21 01:20] lancezhangsf commented on #97
hi ,brocaar
Thank you for your answer.
 433Mhz Just for the project test，470 Mhz is Special frequency of electric meter in china. i need to use 433Mhz for my proj.

[2016-11-21 07:04] brocaar commented on #97
Ah okay. Please note that the 433 test branch is far behind master as I
wasn't able to test and merge it. If you can confirm these band settings
are correctly defined, I'm more than happy to update and merge it!

On Mon, Nov 21, 2016, 02:20 zsf <notifications@github.com> wrote:

[2016-11-21 10:37] siscia commented on #89
:+1: I definitely agree that it is not a pressing issues.

[2016-11-22 16:19] mariopraga commented on #98
Thank you, I will test as soon as possible.

Just for confirmation, do I need to use mosquitto_pub in order to publish the JSON you suggested? Can you please show me full mosquitto_pub command ?

thx

[2016-11-23 21:57] mariopraga commented on #98
I've just finished the test with this payloads:

mosquitto_pub -t "gateway/5ccf7fffff05fbd1/tx" -m "{"txInfo": {"mac": "5ccf7fffff05fbd1","immediately": false,"timestamp": 1637326882,"frequency": 868099975,"power": 14,"dataRate": {"modulation": "LORA","spreadFactor": 7,"bandwidth": 125},"codeRate": "4/5","iPol": null},"phyPayload": "bHVjaWFu"}"

mosquitto_pub -t "gateway/5ccf7fffff05fbd1/tx" -m '{

[2016-11-25 10:49] brocaar commented on #98
The timestamp you're looking at is an unsigned int32. It can be best visualised as a wheel of all possible numbers or a clock.

Given `2^32 = 4294967296`, it means that an `uint32` can contain the values `0 - 4294967295`. Thus `4294967295 + 1 = 0` and `0 - 1 = 4294967295`.

See: https://play.golang.org/p/_7YU3g6P7p

Maybe it is a good idea to open an issue at https://github.com/things4u/ESP-1ch-Ga

[2016-11-25 16:47] brocaar commented on #95
Would this work? I'm planning to release this as part of LoRa Server 0.1.4.

[code]

[2016-11-25 17:52] glederer007 commented on #95
It would be perfect!

[2016-11-25 18:12] Xexell commented on #95
I'm waiting for this update. Thanks man, it would be very usefull!!

2016-11-25 15:52 GMT-02:00 glederer007 <notifications@github.com>:

[2016-11-25 19:17] brocaar commented on #95
I've just merged the changes and tagged a new release. It will be available as a download within a few minutes (the build server is running the tests + building the packages). Keep an eye on: https://github.com/brocaar/lora-app-server/releases.

[2016-11-25 19:17] #95 closed

[2016-11-27 23:22] jcwren opened #101 "RN2903 Update"
I would do the clone and pull request thing, but I have very poor luck any time I do anything git related.

On the page for the RN2903 provisioning, https://docs.loraserver.io/lora-app-server/activating-nodes/#rn2483-rn2903, a couple of extra commands are necessary.

All unused channels should be disabled with 'mac set ch status <channel_id> off', where channel_id is 8..71, assuming you're using c

[2016-11-28 12:08] TimelessNL opened #102 "Continuation of #95 - Add more network info like Channel/Suband and SF"
As a continuation of #95 I would like to add more networking information like the RX channel/SubBand and received Spreading Factor.

Would that be possible?

[2016-11-28 12:24] TimelessNL commented on #55
+1

[2016-12-01 08:29] lancezhangsf opened #103 "level=error msg="processing rx packet error: invalid FCnt or too many dropped frames""
HI brocaar:
i run the loraserver for some time ,then restart my node ,show the error msg:

12月 01 16:23:39 zhangsf-virtual-machine loraserver[3758]: time="2016-12-01T16:23:39+08:00" level=error msg="processing rx packet error: invalid FCnt or too many dropped frames" data_base64="QIHCxQGADgACHhLfJ/Fx"

[2016-12-01 18:26] brocaar commented on #103
It is exactly what is says :-) The `FCnt` value must always increment in order to avoid replay attacks, in your case it went back to `0` because of the reset. For convenience you can turn on *Enable relax frame-counter* in the web-interface. The most secure way is to re-activate your node (OTAA) after a reset.

[2016-12-01 18:26] #103 closed

[2016-12-01 18:28] brocaar commented on #102
Yes, I'll add that soon. I think with ADR in the pipeline, it would also be nice to see the effect of the adaptive data-rate engine at the application-side.

[2016-12-01 18:29] brocaar commented on #101
Cheers, I'll add this to the docs soon!

[2016-12-01 18:36] TimelessNL commented on #102
That's great, thanks :)

[2016-12-02 00:33] ctowen opened #104 "Port settings not working from systemd?"
Unfortunately, our system already has services running on port 8000 and 8001 so I set out to change the ports that the lora-server and api run on, but it doesn't work when running from systemd.

When I start the loraserver with the following command, everything works as expected and the service starts on the specified port:

/opt/loraserver/bin/loraserver --net-id "010203" --band "EU_863_870" --bi

[2016-12-02 09:26] brocaar commented on #104
Please note that the components don't read the config file, the config file is used by systemd to expose the config through environment variables.

You could also test these settings by starting `loraserver` like this:

[code]

If that works with, it means that the config is not correctly loaded (or refreshed) by systemd.

[2016-12-02 11:16] edjeed commented on #100
Suggestion:
If no sessiondata for the abp device is available in redis, check the postgres database (only if the 7 MSB of the devaddr are equal to seven LSB of the NetID).
This way it is also easy to modify the database directly to add/modify/delete devices by a simple script.

This way it will also be possible to automatic add new devices with a valid combination of keys and id's (NetID, network

[2016-12-02 19:57] ctowen commented on #104
Thank you - that makes sense.

I still think there is an issue though.  I don't believe it is getting the port from the env variable.  See below:

root@WR-IDP-991C:~# NET_ID=010201 BAND=EU_863_870 BIND=127.0.0.1:**5560** REDIS_URL=redis://localhost:6379 GW_MQTT_SERVER=tcp://localhost:1883 AS_SERVER=127.0.0.1:**5561** /opt/loraserver/bin/loraserver
INFO[0000] starting LoRa Server

[2016-12-03 08:31] brocaar commented on #104
Ah you're right. I see there is a typo in the env variable config. This has been fixed in the master branch and will be included in the next release. For now, use one of these pre-compiled binaries I made for you: https://www.dropbox.com/sh/nawdaw666ls04y8/AABqCPqNrA4rET8txvLzEcwra?dl=0

[2016-12-03 08:31] #104 closed

[2016-12-04 20:15] ctowen commented on #104
Thank you sir - congratulations on this project!  The work you have done here is very impressive.

[2016-12-05 19:08] brocaar commented on #101
I've added your feedback to the docs (https://github.com/brocaar/lora-app-server/commit/0ef345a305985d42355e74f029c6a5a1e4bbd99a). It might take some hours before the docs are updated (because of cache invalidation).

[2016-12-05 19:08] #101 closed

[2016-12-05 19:12] brocaar commented on #55
For anybody interested in the progress, see https://github.com/brocaar/loraserver/pull/105. The functions are there, I still need to do the actual integration and testing.

[2016-12-11 18:08] maximilianschwab opened #106 "Loraserver is always restarting on incoming message from lopy."
Hi guys,

i received my new Lopy (https://www.pycom.io/product/lopy/) a few days ago. Now i tried them out with the loraserver. Whenever i send a message to the server i get following log output:

[code]

Has someone a good hint form me how to solve the problem?

Regard,
Max

[2016-12-11 18:11] brocaar commented on #106
That doesn't look any good and might possibly a bug. Could you share your configuration (e.g. which band you're on etc...)?

[2016-12-11 18:32] maximilianschwab commented on #106
Hi @brocaar,

thank you for the quick response.
I'm working on the EU_863_870 band and havent set any other custom configuration.
The loraserver version is 0.12.3.

The code i use on the lopy is as following (simply join the network, send a message and listen for incoming data), the join procedure works properly:
[code]

[2016-12-11 18:39] brocaar commented on #106
Would you be able to post the output of `mosquitto_sub -v -t "gateway/+/+"`? That should show you all the frames received and transmitted.  Especially the frame received that crashes (+ all the metadata) LoRa Server will be really helpful :-)

[2016-12-11 18:47] brocaar commented on #106
Actually, what is the value you've configured for this field:
![image](https://cloud.githubusercontent.com/assets/165497/21082356/49b51a3c-bfda-11e6-9c40-32fe2121447b.png)

It should have returned an error message instead of crashing LoRa Server, but I suspect the value you've entered there is not a valid data-rate. Looking at the source, it looks like the "index out of range" happens when doing a

[2016-12-11 18:58] maximilianschwab commented on #106
The RX2 data-rate was set to 9, its now working without any restarts.

Thank you!

[2016-12-11 19:01] brocaar commented on #106
thank you for reporting this issue! the next release (with ADR support) will have this issue fixed :-) See: https://github.com/brocaar/loraserver/commit/31ba1eb6cdd107f86e5ccad7447de5a7ad9cfab1

[2016-12-11 19:01] #106 closed

[2016-12-13 04:45] ksuie commented on #49
OS: Arch Linux
loraserver: 0.8.2-1-gf6e02d3
lora-gateway-bridge: 2.1.2

RPi 2: Arch Linux ARM
gateway: [RHF0M301](http://www.risinghf.com/product/rhf0m301/?lang=en)
packet_forwarder: 2.2.1

[Moteino MEGA](https://lowpowerlab.com/shop/moteinomega) + RN2483(RN2483 1.0.1 Dec 15 2015 09:38:09)
Arduino library: TheThingsNetwork-0.17.0, pached for 433MHz

Both ABP and OTAA join ok, and uplink/downlink o

[2016-12-14 23:48] aminatamima commented on #97
Hi Brocar,
I am a zero who wants to install the network server in my pc for a school project. I have followed all the instructions and all the three components are well set up. But when i launch loraserver before lora-app-server i have the error meaning that loraserver can not be connected to lora-app-server. In return when i start lora-app-server before loraserver i get the same error (meaning lo

[2016-12-15 06:45] brocaar commented on #97
There is no issue having this error temporarily, as both services know how
to reconnect :)

On Thu, Dec 15, 2016, 00:48 aminatamima <notifications@github.com> wrote:

[2016-12-15 08:44] aminatamima commented on #97
Ok thank you!
But how do i know if the reconnection went well ?

[2016-12-15 23:00] aminatamima commented on #39
Hi @yzk0281, how did you solve this problem please? The link given in your precedent comment does not work anymore.

[2016-12-15 23:18] aminatamima commented on #4
Hi @brocaar ,
How did you implement the network-controller.md file please?
And in which file can i find how does my lora-gateway-bridge(or lora-server) do to receive a payload from a gateway?
Thank you in advance

[2016-12-18 17:49] pejril opened #107 "Class C"
Hello Mr. Brocaar ! You Lora server is a great project  :-) I would like to ask you about support of Class C.... Have you this support in you future plans ? Class C support will be the next great advantage of your server. Thanx for your answer.

[2016-12-19 08:47] vrvoicu opened #108 "CFList"
I've added a channel-list but on join the server doesn't seem to send it. Is it implemented or is it just the web interface?

[2016-12-20 01:36] trlafleur opened #109 "Docker Version"
would love to see a Docker version as part of your normal release...

If so, please expose all config and environment variables to the local OS.. this make it easy to make changes without the need to dig into Docker internals.

thanks

looks like they're an unofficial version....  https://github.com/hecko/brocaar-lorawan-docker

[2016-12-20 01:58] #109 closed

[2016-12-20 13:56] #108 closed

[2016-12-21 18:51] brocaar commented on #97
@aminatamima it will log the warning until it re-connected.

[2016-12-21 18:51] #97 closed

[2016-12-21 18:53] brocaar commented on #107
I don't have an ETA, but this is definitely a feature that will be added to LoRa Server.

[2016-12-21 19:00] brocaar opened #111 "LinkCheckReq / LinkCheckAns"
Now the MAC commands are handled in LoRa Server, it is time to implement support for the `LinkCheckReq` / `LinkCheckAns` commands (Used by an end-device to validate its connectivity to a network).

[2016-12-21 21:04] brocaar commented on #55
This has been released as version 0.13.0, see https://github.com/brocaar/loraserver/releases.

[2016-12-21 21:04] #55 closed

[2016-12-21 21:05] brocaar commented on #102
This has been implemented and released as LoRa App Server 0.2.0. See https://docs.loraserver.io/lora-app-server/mqtt-topics/#receiving for an example.

[2016-12-21 21:05] #102 closed

[2016-12-22 03:36] ABalanuta opened #112 "loraserver restarts 0.13.0 (uplink.go:59 +0xc0)"
I have a RPI running the forwarder, loraserver and app-server.
After updating from 0.12.4 to 0.13.0 the loraserver started having the following issue.
I have a heavy flow of packets and this happens right after configuring a node in the app-server.

[code]

[2016-12-22 07:42] brocaar commented on #112
Thanks for your report! Could you please share some more `loraserver` logs? You should be able to get them with `journalctl -u loraserver -n 1000` (where `1000` is the number of lines)

[2016-12-22 14:53] Vini74 commented on #112
Dec 22 17:51:16 loraserver systemd[1]: Starting loraserver...
Dec 22 17:51:16 loraserver loraserver[2609]: time="2016-12-22T17:51:16+03:00" level=info msg="starting LoRa Server" band="EU_863_870" docs="https://docs.loraserver.io/" net_id=000000 version=0.13.0
Dec 22 17:51:16 loraserver loraserver[2609]: time="2016-12-22T17:51:16+03:00" level=info msg="setup redis connection pool" url="redis://loca

[2016-12-22 15:06] brocaar commented on #112
Thanks! I know what the issue is and will release a fix asap (probably tonight).

[2016-12-22 16:31] #112 closed

[2016-12-22 16:33] brocaar commented on #112
This will be fixed in 0.13.1 which will be available within a few minutes. Thanks again for reporting!

[2016-12-26 09:08] Vini74 opened #113 "Nonofficial RU 864-869 ISM band"
Is it possible to add experimental ISM band for Russian Federation?
All parameters are the same as in band_eu863_870.go except frequencies.

Ch# 	Freq	                Modulation	        duty cycle	default channels
1	864,10 MHz	MuliSF 125kHz	0,1% or LBT	yes
2	864,30 MHz	MuliSF 125kHz	0,1% or LBT	yes
3	864,50 MHz	MuliSF 125kHz	0,1% or LBT	yes
4	864,70 MHz	MuliSF 125kHz	0,1% or LBT
RX2	864,90 MHz	SF1

[2016-12-26 14:33] mzemb commented on #24
Hi @VirTERM
Can you elaborate a little bit ? I have the same issue (error message at least), but I don't understand what you mean by "sending payload to multiple servers". Are you talking about the configuration of the gateway or of the gateway-bridge ?

[2016-12-27 19:22] brocaar commented on #113
Could you share any documents / drafts describing this experimental ISM band?

[2016-12-28 10:23] Pbars opened #114 "timestamp in MQTT"
Hello Brocaar
how do I publish the timestamp in MQTT. the following message is what I get on screen:
{"devEUI":"514d3857b73bb24e","rxInfo":[{"mac":"1dee0ad91e56bbb5","rssi":-54,"loRaSNR":9.5}],"txInfo":{"frequency":868100000,"dataRate":{"modulation":"LORA","bandwidth":125,"spreadFactor":7},"adr":true,"codeRate":"4/5"},"fCnt":4,"fPort":8,"data":"Aahde5YAhRys"}
thanks for the support

[2016-12-29 10:10] Vini74 commented on #113
Draft specifications for LoRaWAN Regional Parameters attached.

----- On 27 Dec, 2016, at 22:22, Orne Brocaar <notifications@github.com> wrote:

[2016-12-29 11:53] brocaar commented on #113
Hi @Vini74 it seems that you can't attach files to a github issue by mail. Could you send this file to my e-mail address (see http://github.com/brocaar)? Or attach it to this issue using the GitHub web-interface?

[2017-01-02 19:47] brocaar commented on #113
Hi @Vini74 because of NY my previous message have been slipped through. Could you please send me an e-mail with the pdf attached or add it using the GitHub web-interface? It seems that attachements are stripped when replying to the issue by mail. Thanks and an happy new year!

[2017-01-02 20:13] Vini74 commented on #113
[LoRaWAN_RU-868-Regional_Parameters_v0_1.pdf](https://github.com/brocaar/loraserver/files/681343/LoRaWAN_RU-868-Regional_Parameters_v0_1.pdf)

[2017-01-03 19:54] brocaar commented on #113
Cheers! I'll re-open the issue so that I can keep track of all feature requests until they are implemented :-)

[2017-01-05 15:18] t-stricker opened #116 "DevNonce has already been used"
Hi brocaar,

can you help me with this log message from loraserver?
`level=error msg="processing rx packet error: application server join-request error: rpc error: code = 3 desc = DevNonce has already been used" data_base64="AMwHJO7LJRpSAWk1ZTI4MTFMdxb9Ibs="`

It appears when OTTA Join messages are incomming

Thank you

[2017-01-05 15:23] t-stricker commented on #116
I have a guess. There was a second join request incoming from the mote. Then the server recognises double session. The first session wasn't send to the gateway. I changed some configuration I did for the "antenna-gain" now its working again. Not sure if it was like this. I will let you know If I know more :)

[2017-01-07 07:27] brocaar commented on #116
As re-using a `DevNonce` value would compromise the security of your node, each time your node sends a join-request (OTAA), the application server adds the `DevNonce` of this join-request to the list of that node. In this case it happened that your node re-used the same value or when you have multiple gateways, it could be that one gateway has a high network latency and because of this it was seen

[2017-01-08 10:42] brocaar commented on #114
Hi @Pbars, I'm not sure if I get your question / understand what you're trying to achieve?

[2017-01-08 12:41] #50 closed

[2017-01-08 12:43] brocaar commented on #49
@ksuie hmm, I'm not sure if that error is an issue with the packet-forwarder config or with the band config (given that it worked before). I'll add the EU 433 band config in the next release (+ some more bands). In case you're still experiencing any errors, could you open a new issue?

[2017-01-08 12:43] #49 closed

[2017-01-12 10:27] t-stricker commented on #116
Hi Broocar, thanks for your answer.
it seams to be any latency problem. It's occurring not regularly.
You can close this issue

[2017-01-12 10:30] t-stricker opened #117 "Invalid frame count error - relax frame counter enabled"
Hello, I'm receiving this error in the loraserver logs:
`processing rx packet error: invalid FCnt or too many dropped frames`

I'm using ABP for my mote (Semtech LoRaMote) and configured the relax frame counter.
The mote is emitting each ~15 seconds uplink packets. Sometimes its working, sometimes I get the error.

[2017-01-16 19:40] jamiechard commented on #117
Hello. The following may be unrelated, but I saw similar issue recently.
My Node sent data to the server at an unknown Data Rate (i.e. a data rate that didn’t exist in the DataRates table). This resulted in the downlink.SendDataDownResponse() called from handleCollectedDataUpPackets() in internal/uplink/data.go failing. However, since the ns.FCntUp had been incremented a few lines above, the NS FC

[2017-01-17 10:18] Vini74 commented on #113
[LoRaWAN_RU-868-Regional_Parameters_v1.0.pdf](https://github.com/brocaar/loraserver/files/710668/LoRaWAN_RU-868-Regional_Parameters_v1.0.pdf)

Dear Orne,

We have completed additional tests in the allowed frequency bands and concluded that in the 864.0 MHz range chip 1301 has significant decrease in receiver sensitivity. That is why we have to reassign frequencies as follows:
864.1 MHz -> 864.5 MH

[2017-01-18 11:01] aurorasmarenghi commented on #114
Hi @brocaar,
I am a collegue of @Pbars. We have a lorank 8 gateway (without gps module). Our trouble is the disappeared of timestamp in the paylod. Do you know how to fix it?
Many thanks

paolo

[2017-01-18 19:40] brocaar commented on #117
@t-stricker do you have more than one gateway? It could be that one of your gateway has a high latency. The server waits a short while to de-duplicate the same frame received by multiple gateways. When it continues and then receives the same frame from a gateway with a high latency, it will return in the above error.

@jamiechard was the data-rate missing because you are testing with different dat

[2017-01-18 19:45] brocaar commented on #114
@aurorasmarenghi ah now I understand. The time field is only filled when there is an accurate time source available on your gateway (read GPS).

[2017-01-19 08:42] t-stricker commented on #117
@brocaar no it is only one gateway. So shouldn't be a latency issue.
I'm routing the gateway traffic a quite long distance, over multiple routers. But it is still inside my LAN. So the response from the network server should be fast.

Maybe configuring the "Receive window delay" in the app-server frontend can help out?

[2017-01-19 12:56] aurorasmarenghi commented on #114
@brocaar , many thanks, you have dissipated my doubts

[2017-01-21 01:38] sabas1080 opened #118 "Not Work downlink"
Hi @brocaar

I have two nodes one  with RN2903 and other with RFM95
The two work perfect in OTAA, doing the join and the TX  but we cant receive the downlink from our server

We have tried with TTN server and everything works good, we did the join and TX and then we tried the Downlink and it worked, is it any difference between ttn server and this version of LoRa server to consider?

Thanks

[2017-01-21 09:05] brocaar commented on #118
Hi @sabas1080 could you add logs of LoRa Gateway Bridge, LoRa Server and LoRa App Server to this issue? Could you also let me know which gateway + packet_forwarder version you're using? That makes it easier for me to help you debugging this issue :-)

[2017-01-21 09:10] brocaar commented on #117
The only thing I could think of is that the frames are not processed in the order they were transmitted. E.g. when the `FCnt` is validated, it is fine to go from 10 to 12 (11 will be considered as lost), however when 11 comes in afterwards it raises the error that the `FCnt` is invalid. What you could do is keep an eye on the `fCnt` field in https://docs.loraserver.io/lora-app-server/mqtt-topics/#

[2017-01-22 21:12] gesaleh opened #119 "loraserver on RPI3 "transport: dial tcp 127.0.0.1:8001: getsockopt: connection refused""
Hi
I managed to install it and run on my raspberry 3 but when the loraserver is stated i'm getting this error
which part need to be changed on the firewall (iptable)
8001 8080 443 1700 ?

[code]

[2017-01-22 21:56] gesaleh commented on #119
I also instaaled lora-app server and bridge
i had to install postgres and create a DB called loraserver
still getting the same issue and when i start the server app i get this

[code]

[2017-01-23 02:09] alwint3r commented on #118
Hi @brocaar, I also have the same issue here. I use  iC880A Concentrator and https://github.com/TheThingsNetwork/packet_forwarder as the packet forwarder.

Here's few logs from app server & gateway bridge:

App server:
[code]

[code]

Unfortunately I accidentally deleted the lora server logs because I re-created the container.

Thanks in advance!

[2017-01-23 07:54] brocaar commented on #118
The LoRa App Server warning might explain your issue 😉

[code]

LoRaWAN has a max-payload size per data-rate. Please see the "LoRaWAN regional parameters" spec for these values per data-rate. Also note that in the latest LoRa Server version, you can specify if your setup uses a repeater or not. In the latter case, the max-payload can be increased (this info is also in the LoRaWAN regional paramete

[2017-01-23 22:12] gesaleh commented on #119
adding information about version of the app server in fact it doesn't start VERSION:
   0.2.0-4-g6a33bcf
i keep having this error can't open

[2017-01-23 22:40] pablocaviglia commented on #119
hi @gesaleh, the problem is that you haven't added the certificate and private key for the application server.

The easiest way is to generate a pem file.
Then you have two ways to make the server read those files

1) Setting environment variables with the paths

      HTTP_TLS_CERT=/app/cert/lora-app-server.pem
      HTTP_TLS_KEY=/app/cert/lora-app-server.pem

2) Passing the paths through init pa

[2017-01-24 04:31] alwint3r commented on #118
Thanks for your response! So the problem should be in the application and not on the lora server and gateway, right?

I'm also wondering whether the `reference` should be unique or not.

[2017-01-24 07:59] brocaar commented on #118
@alwint3r yes I suppose so. You could use the same reference for every payload, however it might be confusing at your side as it is used in case of errors and acknowledgements (in case of confirmed data down)

[2017-01-24 09:53] alwint3r commented on #118
@brocaar Thanks for the info. I'll tell you later whether it's solved or not.

[2017-01-24 12:03] alwint3r commented on #118
I think the downlink issue is solved for me. I used shorter reference and reduced the payload size and it's working fine now. Thank you!

[2017-01-25 04:15] sabas1080 commented on #118
Hi

Update to

lora server v0.13.3
lora gateway bridge v2.1.2
lora app server v0.2.0

and work in RFM95

Thanks @brocaar

[2017-01-25 04:15] #118 closed

[2017-01-26 21:05] mittsopach opened #120 "Confirmed downlink data error"
Hello, I have problem with Confirmed downlink data from LoRa server to LMIC node. Here is MACPayload sequence from join to error:

JOIN REQUEST FROM NODE LMIC:
0,166,134,121,244,0,0,0,0
JOIN ACCEPTED FROM LORA SERVER:
1,85,156,4,0,0,0,0,
SEND CONFIRMED UPLINK FROM NODE LMIC:
128,85,156,4,0,0,1,0,1,29,3,148,69,8,49,142,234,235,81,32,17,238,249,166
RECIEVED ACK IN DOWNLINK FROM LORA SERVER:
96,85,15

[2017-01-27 10:52] #92 closed

[2017-01-27 10:53] brocaar commented on #119
This is related to https://github.com/brocaar/lora-app-server/issues/15

[2017-01-27 10:54] #119 closed

[2017-01-27 10:54] #114 closed

[2017-01-27 10:57] brocaar commented on #120
I'm not sure if this is a bug at the LoRa Server side. What happens is that your node sends a frame with `FCnt: 5`, however the most recent frame that was processed had `FCnt: 6`, so it sees the frame as a replay-attack.

[2017-01-27 11:17] mittsopach commented on #120
I don't think so.

Now I tested it again, and on LoRa server was FcntUp=4 and FcntDn=4 and then you can see:

SET CONFIRMED DATA TO QUEUE DOWNLINK (MQTT):
{ "reference": "data1234", "confirmed": true, "devEUI": "0000000010111216", "fPort": 99, "data": "QAAB" }
SEND CONFIRMED UPLINK FROM NODE LMIC:
128,170,218,146,1,0,4,0
RECIEVED ACK IN DOWNLINK FROM LORA SERVER WITH CONFIRMED DOWNLINK DATA:
160,1

[2017-01-27 11:24] brocaar commented on #120
Please see the error message, that will give you a clue about which FCnt was received, and which FCnt was expected:

[code]

The relax frame-counter is only for ABP nodes. When the node resets (e.g. power cycle), its FCnt is reset to `0`, while the server expects for example `123`. When relax frame-counter is enabled, it will reset the FCnt to `0` at the server-side, instead of complaining about t

[2017-01-27 11:29] mittsopach commented on #120
Downlink unconfirmed is OK. But I need to confirm it. I think that problem could be, that ack of downlink data from LMIC not increasing fcnt:

[code]

But I'm using standard LMIC library v 1.5. Everything else working properly ...

[2017-01-27 12:42] mittsopach commented on #120
Solved. Solution is programatically increase FcntUp after confirmed downlink is recieved. Thank you...

[2017-01-27 12:42] #120 closed

[2017-01-29 09:43] brocaar commented on #113
@Vini74 I've updated this in the master branch. Could you test these changes?

[2017-01-29 20:24] gesaleh commented on #119
Thank you I'll generate the pem files and continue the testing
I'm trying to have it working with my GW (now running against TTN)

[2017-01-30 11:04] danielknox opened #121 "Unsupported RF power for TX - 9"
Hi,
I have recently updated the lora_pkt_fwd program on one of my gateways and have used the "antenna_gain" variable to match my antenna's dbi. Since then I notice errors arising:
"ERROR: Packet REJECTED, unsupported RF power for TX - 9".

This effects downlink packets.

Naturally reducing the antenna dbi removes this issue, but that is sidestepping the real issue. Is the network server in charge

[2017-01-30 15:37] kuripiiritus commented on #107
Hei, is there any news with the class C support?

[2017-01-30 16:11] brocaar commented on #107
Not yet, but the good news is that from Feb on, I'll be able to dedicate more time to this project :-)

[2017-01-30 16:15] brocaar commented on #121
Thanks for reporting! Would you be able to post the message posted to the `tx` topic? (https://docs.loraserver.io/lora-gateway-bridge/topics/#gatewaymactx)

Could you also let me know the exact version of your packet forwarder?

[2017-01-30 16:37] danielknox commented on #121
It happens with a join request, here is the response from lora server:
{
  "txInfo": {
    "mac": "d03972fffe180756",
    "immediately": false,
    "timestamp": 71723396,
    "frequency": 868500000,
    "power": 14,
    "dataRate": {
      "modulation": "LORA",
      "spreadFactor": 7,
      "bandwidth": 125
    },
    "codeRate": "4/5",
    "iPol": null
  },
  "phyPayload": "IMGd/TAHkVz0rkWFaa0tS

[2017-01-30 16:45] nestorayuso commented on #121
I think the problem is LoRa Server and Gateways have different RF power table values.

check this related issue:
https://github.com/Lora-net/packet_forwarder/issues/21

[2017-01-30 17:22] danielknox commented on #121
So my guess here is loraserver is defaulting to RF power 14. The packet forwarder has been told antenna gain is 5dbi, so 14-5 = 9 (hence reference to TX power 9) and reviewing the global_conf.json there is no entry for rf_power: 9 hence the error. Whereas if I reduce the dbi gain to 3, 14-3 = 11, which there is an entry for?

If so, this leaves two possible considerations

As the gateway responds

[2017-01-31 00:14] radekvozak commented on #93
Hi, maybe this help - but it is in Czech (1th place in IOT summer JAM 2016 in CZ).  Code is in english.

https://dl.dropboxusercontent.com/u/15330582/Summer%20Jam/JanStejskal/prezentace.pdf
https://dl.dropboxusercontent.com/u/15330582/Summer%20Jam/JanStejskal/popis-projektu.pdf
https://github.com/janstejskal/lorawan_gps_tracker-prototype
http://lorawan.zobrazit.info

[2017-02-01 08:42] Vini74 commented on #113
Your changes look like good! I shall try build this revision.

[2017-02-01 08:43] Vini74 commented on #113
https://github.com/brocaar

[2017-02-01 09:30] #90 closed

[2017-02-01 10:23] brocaar commented on #121
Yes, LoRa Server currently uses the default TX power (which is 14 for EU 868). Given that the packet forwarder subtracts the gain from the TX power to get TX power value to use, what would be the right approach in this case? If LoRa Server would adjust the TX power, it would still be wrong wouldn't it as the packet forwarder would still subtract the gain from that value?

Should the TX power entri

[2017-02-01 10:38] nestorayuso commented on #121
The best solution is to complete the remaining LUT entries in global_conf.json
It is needed a spectrum analyser and some info about what do each register, I will investigate it.
At the moment just fill the LUT entries with copy&paste the nearest lower power entry ones.

[2017-02-01 11:12] danielknox commented on #121
Thanks for the advice. Following nestorayuso's suggestion and link to the related issue, I modified line 2372 of lora_pkt_fwd.c to exclude the jit_result variable being set to 'JIT_ERROR_TX_POWER'

`if (jit_result == JIT_ERROR_OK) {
                for (i=0; i<txlut.size; i++) {
                    if (txlut.lut[i].rf_power == txpkt.rf_power) {
                        /* this RF power is supported

[2017-02-01 12:37] eyang0910 opened #122 "Architecture image is missing"
Error Fetching Resource
:(

[2017-02-01 15:31] brocaar commented on #56
I'm currently working on refactoring the session storage so that a single `DevAddr` can map to a set of `DevEUI` items.

[2017-02-01 23:38] systemmonkey42 commented on #117
I am having the same problem, and I think the code is suspect

I find the fCntUp (752) is less than "n.FCntUp" (1537), and the gap becomes negative, however the forced conversion to uint32 results in a gap of 64751 which then results in a "not ok" verdict.

I think you might need to calculate the absolute value before converting to unsigned or comparing with the threshold value.

Does this make se

[2017-02-02 08:11] brocaar commented on #117
Hi @systemmonkey42 thanks for your feedback. Just to summarise:

Received `FCnt: 752`, expected `FCnt: 1537`.

To me it seems that this must be invalidated, as it is a possible replay-attack. The gap calculated is not the gap backwards, but forwards (in case of missed frames / packet loss) and taking a `FCnt` rollover (16 bit space) into account.

To validate this calculated gap, you can make the

[2017-02-02 08:15] #122 closed

[2017-02-02 08:31] brocaar commented on #122
There was indeed an issue with the link (the Gliffy link stopped working). I've added the image to the repo and update the documentation links. Thanks for reporting!

[2017-02-04 12:41] brocaar opened #123 "Improve error (code / type) handling"
Currently it is hard / impossible to distinguish different error types. E.g. when getting a node-session, the session might either not exist (which might be a human error), there was a connectivity error (between the service and the db) or the data was invalid.

I think using (something like) https://github.com/pkg/errors and defining some base error types, the error handling could be improved + c

[2017-02-07 04:53] Umair-Anwar opened #125 "Error in Compiling"
I have followed the instructions to compile with docker compose.
but i always get an error 'start_linux_init.go (178) exec format error'

I'm using raspbian on raspberry pi 3 (armv7)

[2017-02-07 14:09] brocaar commented on #125
I have no experience with Docker on ARM, but it looks like the container that you're using is either not for ARM or you're not compiling for the ARM architecture.

[2017-02-07 21:28] khush-bhatia opened #126 "transport: http2Server.HandleStreams received bogus greeting from client"
I see the following message repeated several time in loraserver logs. The lora-app-server is up and running and the http interface to lora-app-server is also working.

loraserver[27297]: time="2017-02-07T15:21:57-05:00" level=info msg="transport: http2Server.HandleStreams received bogus greeting from client: \"\\x16\\x03\\x01\\x00\\xcd\\x01\\x00\\x00\\xc9\\x03\\x03\\x91ϕd|\\\\\\xfe\\xf1uG\\x16f\\x

[2017-02-08 03:42] yzk0281 opened #127 "bug report~~code error"
Hi brocaar, there must be a code error in fhdr.go:
func (c *FCtrl) UnmarshalBinary(data []byte) error {
	if len(data) != 1 {
		return errors.New("lorawan: 1 byte of data is expected")
	}
	c.fOptsLen = data[0] & ((1 << 3) ^ (1 << 2) ^ (1 << 1) ^ (1 << 0))
	c.FPending = data[0]&(1<<4) > 0
	c.ACK = data[0]&(1<<5) > 0
	c.ADRACKReq = data[0]&(1<<6) > 0
	c.ADR = data[0]&(1<<7) > 0
	return nil
}

it shou

[2017-02-08 05:40] yzk0281 commented on #127
In C/C++, this seems to be a bug
but in go, it is not，  why?

[2017-02-08 08:19] brocaar commented on #127
Well, Go isn't C/C++ ;-) Anway if you think the behaviour is incorrect, could you open an issue at https://github.com/brocaar/lorawan (that is the repo for the `lorawan` package)?

There are tests too to validate the behaviour of this code:
https://github.com/brocaar/lorawan/blob/master/fhdr_test.go#L72

[2017-02-08 08:21] brocaar commented on #126
Are you sure you're the only one connecting to your LoRa Server instance? Could it be that somebody else is scanning the open ports and guessing protocols for example?

[2017-02-08 09:27] kamran000 opened #128 "How to create Users in LoRa App server"
I have installed LoRa server and LoRa App server , accessed App server through http , but there is only option of adding devices , how can i create users in it?

[2017-02-08 09:45] brocaar commented on #128
This is currently not yet implemented, but is definitely something I'll be working on soon. Could you please create a feature request at https://github.com/brocaar/lora-app-server so you can track the progress (as this feature should be part of LoRa App Server, not LoRa Server)?

[2017-02-08 09:45] #128 closed

[2017-02-08 10:06] kamran000 commented on #128
yeah sure. Thanks it will be very helpful

[2017-02-08 10:17] kamran000 commented on #128
How to create feature request?

[2017-02-08 12:53] brocaar commented on #128
I meant, could you create an issue describing the feature request for the above repo :-)

[2017-02-08 13:05] kamran000 commented on #128
ok :-)

[2017-02-08 22:35] khush-bhatia commented on #126
That explains it. Thanks

[2017-02-08 22:35] #126 closed

[2017-02-09 21:18] drasko opened #129 "COPY the source code into the Docker"
Here https://github.com/brocaar/loraserver/blob/master/Dockerfile we are missing this part: https://github.com/mainflux/lora-gateway-bridge/blob/master/Dockerfile#L14-L15

[2017-02-10 14:31] siscia opened #130 "Receive message from gateway with lower quality."
Maybe related to #78

We are working with a small number of gateway, however it seems that the message we receive from the `application/` MQTT endpoint is the packet received from the gateway with the lowest rssi and the lowest SNR.

And when I say lowest I mean really lower.

From gateway A I receive rssi on -112 and SNR of 1.2 and from gateway B I receive rssi of -89 and SNR of 7.8.

What I woul

[2017-02-10 14:39] brocaar commented on #130
You should see all gateways which received the same frame in the MQTT endpoint. Are you sure there is only one item in `rxInfo`?

Note that LoRa Server waits a certain time to "de-duplicate" frames received by multiple gateways. It will only process these frames once, but the MQTT endpoint should give you the metadata of all gateways. It could be a latency issue too, see the `DEDUPLICATION_DELAY`

[2017-02-10 17:30] siscia commented on #130
Yes, I can see only one element in the `rxInfo` field.

I attached a couple of screen shot so you can see yourself, do you think it is me doing something wrong?

![all](https://cloud.githubusercontent.com/assets/640555/22836949/ce14fb9e-efbe-11e6-9435-b7c9248c490e.png)
![wrong](https://cloud.githubusercontent.com/assets/640555/22836950/ce490da8-efbe-11e6-90b1-aa295362c395.png)

[2017-02-11 16:46] brocaar commented on #130
Hmm, could you maybe also share some LoRa Server logs? There should indeed be two `rxInfo` elements. I'll do some testing here too just to make sure that no regression was introduced during the last changes.

[2017-02-11 16:50] brocaar commented on #129
Actually, it should be removed there 😉 A Docker volume is used to share the code between the host and the container (so that you're able to develop on your host while having the latest version of the code within your container. See:

https://github.com/brocaar/loraserver/blob/master/docker-compose.yml#L5

[2017-02-11 17:00] drasko commented on #129
@brocaar this is good approach for development, but now at all good approach for deployment. I do not want to git-clone the code in order to do the deployment. And I surely do not to build every time upon deployment (`make serve` target depends on `make build`).

What I want is just to automatically pull the images from DockerHub and deploy the composition with a simple `docker-compose start`.

Ma

[2017-02-11 17:05] brocaar commented on #129
Note that these `Dockerfile` files were never intended for deployments, as they are quite big. For deployment you would ideally use a `FROM scratch` container with just the binary (which would be a few MB).

[2017-02-11 17:12] drasko commented on #129
Actually, this is what [Alpine Linux](https://alpinelinux.org/) is for, and in general I would prefer that you used `FROM golang:1.7-alpine` - that should make an image just a few MBs...

[2017-02-13 12:20] ShahabR opened #131 "Install loraserver on windows"
Hi,
Is there any help for installing lora server on windows os? In linux it talks about configuring lora server after installation, how about on windows? Thanks

[2017-02-13 12:30] hecko commented on #131
One way would be to use Docker.

Dňa 13.2.2017 1:20 PM používateľ "ShahabR" <notifications@github.com>
napísal:

[2017-02-13 19:16] brocaar commented on #131
Note that you can pass all the configuration as arguments. I don't have any experiences with setting up windows services, but if you run `loraserver.exe --help` on the command-line, you'll see all available arguments :-)

[2017-02-14 06:34] ShahabR commented on #131
Can you explain more about using docker in this case @hecko ( I know a little about docker) ? Thanks.
I've developed several windows service in .net language but I'm not familiar with this type of deployment( I use to install service with a batch file and... ) , anyway I will try using --help argument as you said, thanks brocaar.

[2017-02-15 13:50] MohammedBENHADINE commented on #119
so gesaleh,it's running now?!

[2017-02-15 16:43] Howlinmoon opened #132 "LoRa Join request is being rejected"
Hi,
I have the Docker install up and running, and have performed very minimal configuration via the gui.
I already had my Gateway and Node setup for The Things Network - so I just modified my gateway to point to my Docker install, and added a node via the gui that reflected my current node Id, App Id and App Key I was using with TTN.

Attached should be two log files:

An excerpt taken from the sy

[2017-02-16 12:16] brocaar commented on #132
Are you sure you've configured the correct `BAND` configuration for LoRa Server?

[2017-02-16 12:19] brocaar commented on #129
Could you elaborate on the advantage of Alpine Linux vs `FROM scratch`? Note that the `golang:1.7-alpine` is already 241MB:

[code]

[2017-02-16 12:46] drasko commented on #129
@brocaar maybe you are right and `FROM scratch` could be a good solution in Golang case: http://blog.xebia.com/create-the-smallest-possible-docker-container/

I had in my mind that `scratch` was just an empty baremetal container without rootfs and that you had to add Busybox. But from what I can see here: https://www.iron.io/microcontainers-tiny-portable-containers/, Apline Linux is good when your

[2017-02-16 12:50] drasko commented on #129
A word of warning for the reference - I think "Security" chapter here is worth examining: https://alpinelinux.org/about/

_Alpine Linux was designed with security in mind. The kernel is patched with an unofficial port of grsecurity/PaX, and all userland binaries are compiled as Position Independent Executables (PIE) with stack smashing protection. These proactive security features prevent exploita

[2017-02-17 08:54] brocaar commented on #129
But when using the Go binary inside an Alpine linux container, it won't use any of that?... You would still be running the kernel of the host system which basically executes the binary from the container in a separate name-space. As Go would come self-contained / no external dependencies, it would not use any of the userland binaries provided by Alpine.

That is why in think that `FROM scratch` is

[2017-02-17 09:14] drasko commented on #129
@brocaar yes, as I wrote above I think you are right and that `FROM scratch` is better candidate here.

[2017-02-17 09:17] brocaar commented on #129
Ah sorry, was just looking at your last message ;-) I'll have a look at the `dockerize` script later to understand what it does / what needs to be changed in the code in order to support this.

[2017-02-17 17:41] abouillot opened #133 "Enable relax frame-counter flag taken into account"
Hi,

I'm developing node stack and still in the early stages. I haven't yet implemented the persistent counter on the node, but it will be needed at some point.
Therefore, I often restart the board and when using APB join mode, I always end up in invalid count wether the Enable relax frame-counter is activated or not for that node.
It is usually 2 while receiving 1 - it's early stages.

Is this se

[2017-02-17 17:44] brocaar commented on #133
Hi @abouillot, please note that relax frame-counter only kicks in when it receives a `FCnt=0`.

[2017-02-17 18:05] abouillot commented on #133
Some stacks have an initial counter set to 1.
I've changed mine and still receive the message:
{"devEUI":"1100000000000011","type":"DATA_UP_FCNT","error":"invalid FCnt or too many dropped frames (server_fcnt: 2, packet_fcnt: 0)"}

When resseting the node's Fcnt on the server interface, the packet is accepted, but this is not practical.

[2017-02-17 18:24] brocaar commented on #133
For the above example, did you activate the relax-frame counter? Please note also that changing this setting in LoRa App Server means you have to re-activate the node so that it provisions LoRa Server with this updated config.

The relax frame-counter option is a "hack" to work around this issue and is not safe (e.g. it opens the option for replay attacks). Regarding some nodes starting their fram

[2017-02-18 10:08] brocaar commented on #130
I've done some testing with two gateways, this is my result (which seems correct?):

[code]

[2017-02-18 10:09] brocaar commented on #127
@yzk0281 do you need more input on this / do you still think this is a bug? Can this issue be closed else?

[2017-02-18 20:11] ivajloip commented on #125
Speaking of Docker + ARM + Golang - [this][1] comes to mind :)

[1]: https://hub.docker.com/r/acklio/golang-armhf/

[2017-02-24 09:19] richard61230 commented on #116
Hi  Brocaar
I  have another question about DevNonce  if node happen run out of  DevNonce for join request(OTAA) ) whether LoRa server will not allow node  join successfully until clear DevNonce of LoRa server recorded?
How can i clear  node's DevNonce  of LoRa server recorded
Thank you

I used LoRa server version : -0.12.5
       lora appserver version: 0.1.4

[2017-02-24 15:22] brocaar commented on #116
Actually that is a good point. I think the only way to flush the set of `DevNonce` values in a safe way would be by changing the `AppKey`. The `DevNonce` is there so that somebody can't replay a join-request, however, a new `AppKey` would also avoid replay attacks. I'll think about this. Maybe it is as simple as when updating the `AppKey`, reset `DevNonce` set.

[2017-02-26 07:52] richard61230 commented on #116
Hi Brocaar, thanks for your answer
It is glad to hear your idea , i have not figured out to  flush DevNonce set safely
It's a good way to implement so that it means now All of release loRa server versions , there have not a  way to flush DevNonoce . Will it  be  implemented in future versions ?

[2017-02-27 10:55] brocaar commented on #116
Yes, I think I'll implement this in a future version :-)

For now, clearing the `used_dev_nonces` column (`node` table in the database) would do the trick.

[2017-02-28 10:17] phatnt199 opened #135 "LoraServer cannot recognize mtype!"
I have forward data from lorawan gateway to my application, but mtype is unconfirmed, please help me with this problem!

**Lora-server log:**
INFO[11085] backend/gateway: rx packet received
INFO[11085] packet(s) collected
            dev_eui=4786e6ed00290028
            gw_count=1
            gw_macs=b827ebfffe9e04f1
            mtype=UnconfirmedDataUp
INFO[11085] rx info sent to network-controlle

[2017-02-28 10:18] brocaar commented on #135
What is the actual issue?

[2017-02-28 10:20] phatnt199 commented on #135
How can I decode the data and save to the database?

[2017-02-28 10:22] brocaar commented on #135
Your (base64 encoded) data is: `AbRtbQUA//+7`. You need to base64 decode that in order to get the bytes that your sent :-)

[2017-02-28 10:23] brocaar commented on #113
@Vini74 can I close this issue (the latest draft is in the latest LoRa Server release)?

[2017-02-28 10:31] #113 closed

[2017-03-01 02:30] #135 closed

[2017-03-01 08:13] richard61230 commented on #116
Hi Brocaar , thanks for your help again  :-)
I'll try it andi look forward to your good news

[2017-03-03 06:46] minggi commented on #133
I have the same problem with my Adeunis RF LoRa Handtransmitter. The relax frame-counter is enabled. But it works only if I set manual the Uplink frame-counter to "0".

[2017-03-03 08:45] brocaar commented on #133
Sorry guys, but I think there is no better way to handle this I think. Enabling the relax frame-counter introduces already a security risk (it enables replay-attacks). When your node sends a `FCnt < expected FCnt` the frame must be marked as suspicious, that is the whole reason why there is a `FCnt`.

When you reset your node (ABP) node, enable the relax frame-counter mode (knowing that you're int

[2017-03-03 08:56] SoHyunYang opened #136 "When the lora-app-server send packet to the mote, there are not tx message written in the MQTT broker."
Hi,

After making OTAA join with server and mote, I published the following json type data in mosquitto.
{"Reference": "abcd1234", "confirmed": true, "fPort": 2, "data": "AAECAwQFBgcICQoLDA0O / w =="

![1](https://cloud.githubusercontent.com/assets/17341294/23544496/9ccbb636-003a-11e7-8c60-7c67c00af9e3.png)
![2](https://cloud.githubusercontent.com/assets/17341294/23544498/9e893c8c-003a-11e7-9928-c

[2017-03-03 09:12] minggi commented on #133
But in this case I can't use the [Adeunis device](http://www.adeunis-rf.com/en/products/lorawan-products/field_test_device_lorawan_868) or my other LoRa devices.

I know, the relax frame-counter is a security risk, but there are no device on the market that can handle this better. Your LoRa Server works perfect for us, but this "problem" is a killer issue for me at the moment. We don't have this i

[2017-03-03 09:18] brocaar commented on #133
@minggi could you elaborate why you can't use your devices? Most if not all devices support OTAA which is a secure way to reset the frame-counters, without the need of the relax frame-counter mode.

[2017-03-03 10:06] minggi commented on #133
First: We don't use OTAA.
I will analyse the whole process. Give me a few days.

[2017-03-03 11:10] abouillot commented on #133
Is there a reason to not use OTAA? The implementation is pretty straightforward and transparent from the node side and backend application, and increase the security over replay attacks, among other.

I hardly believe Adeunis device doen't store it counter in a persistent way, preventing a normal usage in ABP mode.

I raised the initial issue while in early stage of developing the device, where th

[2017-03-03 11:18] brocaar commented on #133
@abouillot ah, I wasn't aware that this was actually implemented this way in https://github.com/Lora-net/LoRaMac-node. I've been testing with a node from IMST (which uses LMIC) and a node from Microchip (RN2483), both nodes start with `0` as the initial frame-counter.

Do you know this has been solved in the `LoRaMAC-node` by now?

[2017-03-03 11:22] abouillot commented on #133
I raised on LoRaMac node after I raised the issue here. It has been integrated in master branch on Feb 23 https://github.com/Lora-net/LoRaMac-node/commit/e5277e2209fe833983e4ed7296f711ee0543f0c8, in 4.3.1 release.

[2017-03-03 23:19] sabas1080 opened #137 "Support link check validation?"
Hi @brocaar

I am using the lmic library for Arduino and a section mention

https://github.com/matthijskooijman/arduino-lmic/blob/master/examples/ttn-otaa/ttn-otaa.ino#L93

Do you support link check validation? And so we can eliminate this line

Thanks

[2017-03-05 11:30] brocaar commented on #137
Not yet, but there is already an issue to track this feature: https://github.com/brocaar/loraserver/issues/111

[2017-03-05 11:30] #137 closed

[2017-03-05 20:15] #136 closed

[2017-03-06 07:08] minggi commented on #133
It looks like the Adeunis RF device sending the first payload with a cnt "1" and not 0.
Error after a device restart:
`lora-app-server.log:
time="2017-03-06T06:32:25Z" level=error msg="invalid FCnt or too many dropped frames (server_fcnt: 72, packet_fcnt: 1)"`

[2017-03-09 06:26] yzk0281 opened #138 "collectAndCallOnce func modify~"
Hi, broccar
your collectAndCallOnce function is for dealing multi-gateway processing the same packet, it use a key and a lock to realise that.
However, your key is like this:
key := "collect_" + hex.EncodeToString(rxPacket.PHYPayload.MIC[:])

If there is a lot of nodes, this key might be the same for different nodes, so I turned the key into this:
key := "collect_" + hex.EncodeToString(rxPacket.PH

[2017-03-09 12:35] kuripiiritus opened #139 "ADR"
Hei

Probably not the right place to ask, but are you planning on adding ADR support (creating a network controller).

Best regard,
Kuldar

[2017-03-09 12:40] brocaar commented on #139
An experimental version of ADR has already been implemented for the EU 868 ISM band. I'm planning to add support for the other bands too, but I need to do some research on that first :-)

[2017-03-09 12:55] brocaar commented on #138
Yes, that is correct. Note that it is not guaranteed that there is a `DevAddr` available (e.g. in case of a join-request).

[2017-03-09 13:28] kuripiiritus commented on #139
Hei

Now that you mentioned it we installed the latest version, and there it is.

`The interval (of frames) after which the network-server will ask the node to change data-rate and / or TX power if it can change to a better data-rate or lower TX power. Setting this to 0 will disable ADR.
`
Will be performing some tests on it.

BR,
Kuldar

[2017-03-12 19:09] #139 closed

[2017-03-12 19:13] brocaar commented on #56
This has been implemented in LoRa Server 0.15.0. Please refer to the changelogs for details :-)

[2017-03-12 19:13] #56 closed

[2017-03-13 02:44] yzk0281 opened #140 "log lib change"
Hi, Brocaar
Any plan to change log lib to glog?
logrus don't support log rotation, it's ugly.

[2017-03-13 11:27] ymkins commented on #129
My 5 cent:
I use Ubuntu based Docker container with release binaries because of Alpine use musl instead of gnu libc.
It's not hard to build custom release, but I prefer monitor the project issues and exclude the builder in case of deployment troubles.
So, we can clarify the building process in docs.

[2017-03-13 14:40] brocaar commented on #140
Currently I don't have any plans to change to an other log library, as I'm quite happy with logrus. Why is it ugly?

Personally I don't think it is the responsibility of the log library to "manage" your logs. I think this is more a responsibility of the service above the service outputting logs (e.g. systemd, supervisor, init.d). For linux I would recommend you to take a look at: http://www.linuxc

[2017-03-13 21:37] dylancollaud opened #141 "Node-session does not exist or invalide fcnt or mic"
Hi Brocaar,
I've install node-red and and your server (lora-gateway-server, loraserver, lora-app-server)
I've a gateway with ic880a. In the lora-gateway-bridge i see the lora message.

But in the journal of loraserver i've this error :
Mar 13 22:36:26 ttn-gateway-Collaud loraserver[1534]: time="2017-03-13T22:36:26+01:00" level=error msg="processing rx packet error: get node-session error: node-ses

[2017-03-14 03:45] sabas1080 commented on #141
Hi

Is your node in ABP or OTAA? If ABP has already created the data?

In ABP remember to restart your fcnt

[2017-03-14 09:25] dylancollaud commented on #141
Hi,
My note is OTAA. I've tested with an other node and I've the same issue.
The node arrive to connect but when i send a uplink, I've this error.

[2017-03-14 09:31] brocaar commented on #141
@dylancollaud given the error message, I think you're using the 0.15.0 version. Before this error message was a bit different (showing the frame-counters), this is not possible anymore as a single `DevAddr` might be used by multiple nodes. So in order to match the correct node(-session), we need to validate the `MIC`. See #56 for some background.

Two questions:
* did the OTAA join work?
* could y

[2017-03-14 12:16] dylancollaud commented on #141
Yes i've use le 0.15.0 version.
Yes the OTAA works, my device are connected and on the wep-app I've the Network session key.

For the last question, I dont understand where I can found the FCnt ?

[2017-03-14 12:20] brocaar commented on #141
In LoRa App Server when you edit a node, there is a "Show activation" button. It will show you the details known by the server.

From your node it depends on the node and firmware you're using. Did this error occur after you've reset the node?

[2017-03-14 12:27] dylancollaud commented on #141
Lora App Server
Device address (generate)
06cb7154
Network session key
c1ee6f2daf68622c787ba3cfe8105120
Application session key
d6172443d4d6716c19345736473a1784

Node
DeviceAddress
5C0C00A0
Network session key
9EC1C0FA675E74E1F083E30030C5B01
Application session key
4E606B7B1A60B2488FE1B098DD76B1D

All are different .. I thing this isn't correct ?

[2017-03-14 12:32] brocaar commented on #141
That might explain why the node-session could not be found. Could it be caused by the node reset? E.g. because of the reset, the node reverted it's settings to the settings stored in the persistent memory. An OTAA activation might note be stored in an persistent way depending the firmware.

Btw, a more secure way is to perform a new OTAA after a node reset. That way you don't need the relax frame-

[2017-03-14 12:53] dylancollaud commented on #141
I've installed the lora-gateway-bridge, loraserver and lora-app-server and all worked last week.
After that, i've some problem with the ic880a and I reinstall all applications.

And now, it doesn't work and it's stange..
I've the same issue on two devices (Dragino and Dongle UsSB Lora ACW-usb atim ARM-N8-LW)
When i reset my node, the device adresse doesn't change, it's stange. You probably rigth m

[2017-03-14 13:14] dylancollaud commented on #141
I found ! ...
I made a mistake, i configure in my gateway two lora-gateway-bridge. This is not possible in OTAA I'think.
thank you for your help ! You made awsome job !

[2017-03-14 13:14] #141 closed

[2017-03-15 13:35] brocaar commented on #107
This has already been implemented. Forgot to close the issue.

[2017-03-15 13:35] #107 closed

[2017-03-15 13:35] #127 closed

[2017-03-15 13:36] #98 closed

[2017-03-19 10:35] glederer007 opened #142 "Documentation mistype for Class C"
The documentation on https://docs.loraserver.io/loraserver/features/ states:

LoRa Server has full support for Class-C devices. It will remember the last rx parameters (of each gateway that received the uplink), so that the nearest gateway can be used for the Class-C uplink. An uplink can be scheduled by using the NetworkServer.PushDataDown API method.

Shouldn't it be "... Class-C downlink. A dow

[2017-03-19 15:22] brocaar commented on #142
Good catch! I'll fix it.

[2017-03-19 15:22] #142 closed

[2017-03-23 02:11] panyingyun opened #144 "Tools for test"
brocaar, here is some tools that I develop them for test. Maybe useful for other friends.

1. https://github.com/panyingyun/watch
        Watch message received from loraserver/gateway/application by LoRaWAN™

2. https://github.com/panyingyun/vmloragateway
         Visual Machine(Lora Gateway) connect to lora-gateway-bridge for test LoRaWAN™ server benchmark or others(NS+NC+AS)

3. https://github.

[2017-03-23 07:50] brocaar commented on #144
Thanks for sharing! I'll add a third-party tools documentation page :-) I'll close the issue once these links are added.

[2017-03-24 10:06] panyingyun opened #145 "Some question about Class C multicast downlink frames"
Class C multicast downlink frames
========
some use case that may need to use class multicast messages. So maybe has some issues:

Within  LoRaWan Spec,  some words "The multicast address and associated network session key and application session key  must come from the application layer. The same limitations apply for Class C multicat downlink frames.  They are not allowed to carry MAC commands .

[2017-03-24 11:03] brocaar commented on #145
This is a bit a grey area for me too. How I understand the "application layer" is that this means that this is not covered by the LoRaWAN protocol:

So for example in the future you could potentially create a multicast group of nodes, and LoRa App Server will generate this information for you. Or you generate it yourself and enter this information in LoRa App Server. Or maybe the multicast feature

[2017-03-27 12:11] drasko commented on #129
@ymkins if we go with full-blown Docker, I would rather suggest CentOS. But I sgree with @brocaar that `FROM scratch` should be used - once it is well controled and understood there should be no problems. And if problems noted, they should be solved Docker community rather then workarounding the problems.

[2017-03-27 12:22] ckt1010 opened #147 "Two node with same device eui will cause payload data abnormal"
Hi,
I found a strange problem today.
When I use node device eui which is "0x4786e6ed00380057", payload parse ok. But if I use another node with same device eui, the first node still can receive data, but payload parse abnormal. Please refer log below:

Mar 27 19:53:01 iZbp13xpaqt4mvtq1tt73nZ node[27584]: application/70b3d57ed000140d/node/**4786e6ed00380057**/rx {"devEUI":"4786e6ed00380057","rxInfo

[2017-03-27 15:14] brocaar commented on #147
Could you share how you activated your nodes?

[2017-03-27 16:46] KMax commented on #129
Created images for loraserver and lora-app-server, also docker-compose.yml with default settings for my needs. It based on Ubuntu 16.04 and the pre-compiled binaries.

Repo: https://github.com/ceratop/loraserver-docker

P.S. @drasko Thanks for pointing to `dockerize` script.

[2017-03-27 17:35] drasko commented on #129
:+1:

[2017-03-27 23:23] drasko commented on #129
Based on corrections from @KMax, CentOS flavor can be found here: https://github.com/mainflux/loraserver-docker

[2017-03-28 01:35] ckt1010 commented on #147
Hi @brocaar , thanks for your reply!
I first power on node A which is "4786e6ed00380057". After join, every thing is fine, and data parse ok.
Then I power on node B which also use "4786e6ed00380057". It will trigger server accpect node B and I can see device address, network session key, application session key has been changed.
I thought packet from node A will reject then. But actually not.... I

[2017-03-28 07:09] brocaar commented on #147
Could you share which version of LoRa Server you're using? In the meanwhile, I'll see if I can reproduce this behaviour.

[2017-03-28 07:52] crdn opened #148 "Question: Receive/send data over REST API"
Hi brocaar

Thank you very much for sharing your great solution!

I set up your project and it runs without problems. Now I would like to visualize the received sensor data on a website. The easiest way would be to receive and send data over the REST API, because it is plattform independent.

Is there any possibility to get the data over the REST API and if not, what would be the best way? Is it p

[2017-03-28 09:37] RCOdev commented on #141
Hi everyone, I get the same error (processing rx packet error), "Node-session does not exist or invalide fcnt or mic".
I'm using ABP mode, the node is activated (seen in lora-app-server log) but loraserver give me this error.
Do you have an idea where this is come from?
Thanks!

[2017-03-28 13:42] brocaar commented on #147
I'm not able to reproduce your issue.

What I tried:

1. Added node `0101010101010101` to LoRa App Server
2. Provisioned two nodes (node1, node2) with the same DevEUI / AppEUI / AppKey as for node `0101010101010101`
3. Activated node1 using OTAA
4. Activated node2 using OTAA
5. Now when node1 sends data, I get the (expected) error `ERRO[0755] processing rx packet error: get node-session error: nod